/* --- [normalize] --- */
* {
  margin: 0;
  padding: 0;
}
/* --- end[normalize] --- */

:root {
  --font-serif: "Lora";
  --font-sansserif: "Source Sans 3";
  --font-monospace: "Inconsolata";
  


  --font-text: var(--font-serif);

  --weight-text: normal;
  --font-title: "Outfit";
  --font-heading: "Outfit";
  --font-code: var(--font-monospace);
  
  --color-accent: #1464aa;

  --color-link: #1464aa;
  --color-link-hover: #aed3f3;
  --color-link-visited: #1464aa;
  
  --color-text-primary: #000000;
  --color-text-secondary: #5f5f5f;
  
  --color-background-primary: #ffffff;
  --color-background-secondary: #b8b8b8;

  --color-background-description: #eaf4ff;

  --color-dark-background: #000000;
  --color-dark-text: #ffffff;  

  --color-quote: #8fe27b;


  --color-heading1: #000000;

  --color-heading2: #000000;

  --color-category-travel: #ce7501;
  --color-category-text: #ffffff;

  font-size: 18px;

  --data-title-gap: 10px;
  --reader-width: 800px;
}

/* --- [classless] --- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  color: var(--color-text-primary);
  text-rendering: optimizeLegibility;
}

main{
  margin-bottom: 200px;
}

img {
  width: 100%;
}

img.indexed {
  cursor: zoom-in;
}

p,
blockquote,
li,
table,
input,
footer,
figcaption {
  font-family: var(--font-text);
  font-weight: var(--weight-text);
  font-size: 1.05em;
  line-height: 1.6rem;
}

#site-content > p {
  margin: 7px 0;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  transition: 100ms border ease-in-out;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;

  color: var(--color-heading1);
  

  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  color: var(--color-heading2);
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
}

h2,
h3,
h4 {
  margin-top: 0.75em;
  margin-bottom: 10px;
}

h1:target,
h2:target,
h3:target,
h4:target {
  padding-left: 30px !important;
  position: relative;
  text-decoration: underline wavy var(--color-accent) 2px;
}

h1:target::before,
h2:target::before,
h3:target::before,
h4:target::before {
  border-color: var(--color-accent);
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: "";
  display: block;
  left: 5px;
  
  position: absolute;

  height: 10px;
  width: 10px;

  /* These two lines vertically centre the point of the arrow */
  margin-top: -5px;
  top: 50%;

  /* The arrow sprints to the left when the link is hovered */
  transition: left 0.1s;
  transform: rotate( 45deg );
}

h1:target::after,
h2:target::after,
h3:target::after,
h4:target::after {
  background: var(--color-accent);
  content: "";
  display: block;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 50%;
  width: 20px;

  /* We need to animate the shaft too, to be able to look at a moving arrow */
  transition: left 0.1s;
}



input {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-sansserif);
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  border: 1pt solid var(--color-background-secondary);
  border-left: 3pt solid var(--color-accent);
  outline: none;
}

div.search-results {
  min-height: 30px;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-sansserif);
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  border: 1pt dashed var(--color-background-secondary);
}

ul.search-results-items {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column;
  gap: 5px;
}

ul.search-results-items li {
  
  font-family: var(--font-sansserif);
}
ul.search-results-items li a{
  font-weight: bold;
}

a { 
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a.less {
  text-decoration: none;
}

a.button {
  font-family: var(--font-sansserif);
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  flex-flow: row;
  height: 24px;

  gap: 3px;
  align-items: center;

  border: 1px solid var(--color-link);
  color: var(--color-link);
  stroke: var(--color-link);

  padding: 4px;
  border-radius: 5px;
  transition: background-color 100ms ease-in-out;

  vertical-align: middle;
  justify-content: center;
  line-height: 1;
  min-width: 24px;
}

main a.button {
  margin: 2px;
}

a.button.less {
  border: none;
}

a.button:hover {
  background-color: var(--color-link-hover);
}

a.button:visited {
  color: var(--color-link-visited);
}

a.button svg {
  fill: none;
  stroke-width: 2px;
  height: inherit;
}

body.menu-home     a#nav-home,
body.menu-projects a#nav-projects,
body.menu-photos   a#nav-photos,
body.menu-search   a#nav-search,
body.menu-writing   a#nav-writing {
  box-shadow: inset 0px 0px 2px 2px rgba(123, 173, 225, 0.48);
}

/* [BLOCKQUOTE] ============================================================= */
blockquote {
  position: relative;
  border-left: 4px solid var(--color-quote);
  border-radius: 5px;
  padding: 5px 25px;
  margin: 20px 0;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: 0.25em;
  left: 0px;
  padding-left: 5px;
  font-size: 2rem;
  color: var(--color-quote);
}

blockquote > blockquote {
  border: none;
  color: var(--color-text-secondary);
  font-style: italic;
  padding: 0 20px;
  margin: 7px 0px;
}

blockquote > blockquote::before {
  content: "~";
  font-size: 1.1rem;
  font-weight: bold;
  top: 0px;
}

/* [LIST] =================================================================== */
ol,
ul {
  padding-left: 30px;
  margin: 10px 0;
}

/* adjusts the size of the list to be the same size as ul-lists */
ol > li + li {
  margin-top: 3px;
}

li::marker {
  color: var(--color-accent);
  font-weight: normal;
}

ul.post-list li{
  display: flex;
  justify-content: space-between;
}

ul.post-list li time {
  font-family: var(--font-sansserif);
}

header {
  height: 80px;
  background-image: url("/assets/header.svg");
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

header section {
    width: var(--reader-width);
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-left: 20px;
  
    div.site-title {
      font-family: var(--font-title);
      font-weight: 600;
      text-decoration: none;
      font-size: 40px;

      display: flex;
      gap: var(--data-title-gap);
    }
  }

[data-category="Travel"]::before {
  content: "travel";
  font-family: var(--font-sansserif);
  font-weight: bold;
  font-size: 0.8rem;

  color: var(--color-category-text);
  background-color: var(--color-category-travel);
  
  padding: 2px 5px;
  border-radius: 5px;
  
  margin-right: 5px;

  position: relative;
  bottom: 2px;
}

header nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;

    border: solid 1px var(--color-background-secondary);
    border-radius: 8px;
    padding: 4px;
    background-color: var(--color-background-primary);

    height: 100%;
}

/* --- end[classless] --- */

#site-content,
#site-content div.dark{
  display: grid;
  grid-template-columns: 1fr var(--reader-width) 1fr;  
}

#site-content > *,
#site-content div.dark > * {
  grid-column: 2;
}

#site-content div.thumbnail { 
  grid-column: 1 / 4;
  height: 400px;

  background-size: cover;
  background-position: center center;
}

section#title-block {
  border-bottom-style: dotted;
  border-bottom-color: var(--color-accent);
  border-image-source: url('./assets/border.svg');
  border-image-slice: 33.33% 33.33%;
  border-image-repeat: round;
  border-width: 3px;
  margin-bottom: 20px;
  
  font-family: var(--font-sansserif);
}

time.date {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

#title-block p.description {
  font-family: inherit;
  background-color: var(--color-background-description);
  padding: 10px;
  margin-top: 20px;
}


/* [BOX] ------------------------------- */
div.box-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

div.box-collection.vertical{
  flex-flow: column;
  align-items: center;
}

div.box{
  width: 250px;
  padding: 10px;
  border: solid 1px var(--color-background-secondary);
  transition: border 250ms ease-in-out;
}

div.box:hover{
  border: solid 1px var(--color-link-hover);
}

div.box .box-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}

div.box .box-date {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--color-background-secondary);
}

div.box .box-desc, div.box .box-links a{
  font-size: 0.9rem;
  text-decoration: none;
}

div.box .box-img{
  margin-bottom: 0.75rem;
}

div.box .box-title + .box-links {
  margin-top: 15px;
  text-align: center;
}


/* [GALLERY] --------------------------- */
section#gallery {
  display: none;
  position: fixed;
  background-color: #070707ed;
  z-index: 10;
  height: 100%;
  width: 100%;
}

section#gallery.active {
  display: block;
}


section#gallery.active #gallery-dec,
section#gallery.active #gallery-inc {
  position: absolute;
  height: 42px;
  width: 30px;

  z-index: 20;

  cursor: pointer;
}
section#gallery.active #gallery-close {
  position: absolute;
  height: 30px;
  width: 30px;

  z-index: 20;

  cursor: pointer;
}

section#gallery.active #gallery-dec {
  left: 20px;
  top: 48%;
}

section#gallery.active #gallery-inc {
  right: 20px;
  top: 48%;
}

section#gallery.active #gallery-image-wrap {
  padding: 50px;
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  user-select: none;
  -webkit-user-select: none;
}

section#gallery.active #gallery-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  z-index: 15;

  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

section#gallery.active #gallery-close {
  top: 20px;
  right: 20px;
}

section#gallery.active #gallery-close::before,
section#gallery.active #gallery-close::after,
section#gallery.active #gallery-inc::before,
section#gallery.active #gallery-inc::after,
section#gallery.active #gallery-dec::before,
section#gallery.active #gallery-dec::after{
  content: '';

  background-color: #b8b8b8;

  display: block;
  height: 4px;
  width: 30px;

  position: absolute;
  transform-origin: center;
}


section#gallery.active #gallery-close::before {
  transform: translateY(15px) rotate(45deg);
}
section#gallery.active #gallery-close::after {
  transform: translateY(15px) rotate(135deg);
}

section#gallery.active #gallery-inc::before {
  transform-origin: 28px center;
  transform: translate(-4px, 19px) rotate(-45deg);
}
section#gallery.active #gallery-inc::after {
  transform-origin: 28px center;
  transform: translate(-4px, 19px) rotate(45deg);
}

section#gallery.active #gallery-dec::before {
  transform-origin: 2px center;
  transform: translate(4px, 19px) rotate(-45deg);

}

section#gallery.active #gallery-dec::after {
  transform-origin: 2px center;
  transform: translate(4px, 19px) rotate(45deg);
}





/* [KATEX] -------------- */
span.katex {
  font-size: 1.1rem;
}

/* [BACK TO TOP BUTTON] - */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

#back-to-top {
  background-color: var(--color-background-primary);
}

/* [DARK SECTIONS] ------ */
#site-content > div.dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);

  grid-column: 1 / 4;
  padding: 50px 0;
  margin: 50px 0;
}