
/* [MEDIA SPECIFIC STUFF] -------------- */
@media only screen and (max-width: 816px) {
  :root { 
    font-size: 16px;
  }

  header {
    height: 120px;
  }

  header > section {
    flex-flow: column;
    gap: 10px;
  }

  a.button {
    height: 20px;
    min-width: 20px;
  }
  a.button svg {
    height: 20px;
  }

  #site-content{
    display: grid;
    grid-template-columns: 1fr;

  }

  #site-content > *,
  div.thumbnail {
    grid-column: 1;
    padding: 0 8px;
  }

  
  section#gallery.active #gallery-image-wrap {
    padding:0;
  }


  h1:target::before,
  h2:target::before,
  h3:target::before,
  h4:target::before,
  h1:target::after,
  h2:target::after,
  h3:target::after,
  h4:target::after {
    content: none;
  }
}

@media only screen and (max-width: 500px) {
  #site-content div.thumbnail {
    height: 280px;
  }
}
