# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Joel von Rotz
description: >- # this means to ignore newlines until "baseurl:"
  Help me Jesus!
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
flickr:   joelvonrotz
github:   joelvonrotz
avatar:   "/images/profilepicture.jpg"

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

highlighter: rouge

sass_dir: _sass

defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      permalink: '/:year/:month/:day/:title'
      excerpt_separator: <!--more-->
  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: page
      permalink: '/:title'
#  - scope:
#      path: "_travel"
#      type: "travel"
#    values:
#      layout: travel
#      permalink: '/travelbook/:title'


collections:
  posts:
    output: true
  pages:
    output: true
#  travel:
#    output: true
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
