# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
title: Joel von Rotz
description: >- # this means to ignore newlines until "baseurl:"
  A little website of a tall boy, that wants to enjoy life.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://joelvonrotz.ch"

# Build settings
markdown: kramdown

plugins:
  - jekyll-feed

defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      permalink: '/posts/:year/:title'
      excerpt_separator: "<!--more-->"
  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: page
      permalink: '/:title'
  - scope:
      path: "_projects"
      type: "projects"
    values:
      layout: page
      permalink: '/projects/:title'
  - scope:
      path: "_notes"
      type: "notes"
    values:
      layout: note

collections:
  posts:
    output: true
  pages:
    output: true
  projects:
    output: true
  notes:
    output: true

jekyll_compose:
  default_front_matter:
    drafts:
      title:
      category:
      tags:
    posts:
      title:
      category:
      tags:


katex:
  math_engine: katex

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .dev
  - .vscode