section.page-heading,
article.blog-post {
  div.page-metadata {
    display: flex;
    justify-content: space-between;

    .metadata-element {
      display: flex;
      flex-flow: row;
      align-items: center;

      span,
      a {
        font-family: "Fira Code", monospace !important;
        font-size: 20px;
        font-weight: 400;
        margin: 0 5px;
      }

      span {
        color: #878787;
      }

      a {
        color: #2061aa;

        &:hover {
          background-color: lighten($color: #2061aa, $amount: 50);
        }
      }
    }

    svg {
      height: 24px;
      width: 24px;
      stroke: #878787;
      stroke-width: 2;
      stroke-linecap: square;
      stroke-linejoin: miter;
      fill: none;
    }

    .metadata-content {
      line-height: 24px;  //set fix size (for better flex alignment)
    }
  }
}

article.blog-post {
  padding: 0 10px;
  margin-bottom: 80px;

  h2 {
    margin: 10px 0;
  }

  p.post-excerpt {
    margin-top: 0;
  }

  a.readmore {
    font-family: "Fira Code", monospace;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    //background-color: lighten($color: #2061aa, $amount: 50);
    padding: 3px 25px 3px 6px;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      width: 15px;
      height: 4px;
      border-radius: 2px;
      content: '';
      background-color: #2061aa;
      right: 18px;
      top: 14px;
      transform-origin: 13px center;
    }

    &::after {
      transform: rotateZ(45deg);
    }

    &::before {
      transform: rotateZ(-45deg);
    }
  }
}
