section.page-heading,
section.blog-post {
  div.page-metadata {
    display: flex;
    justify-content: space-between;

    .metadata-element {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 5px;

      span,
      a {
        font-family: "Fira Code", monospace !important;
        font-size: 20px;
        font-weight: 400;
      }

      span {
        color: #878787;
      }

      a {
        color: #2061aa;

        &:hover {
          background-color: lighten($color: #2061aa, $amount: 50);
        }
      }
    }

    svg {
      height: 24px;
      width: 24px;
      stroke: #878787;
      stroke-width: 2;
      stroke-linecap: square;
      stroke-linejoin: miter;
      fill: none;
    }

    .metadata-content {
      line-height: 24px;  //set fix size (for better flex alignment)
    }
  }
}

section.blog-post {
  h2 {
    margin: 10px 0;
  }

  p.post-excerpt {
    margin-top: 0;
  }

  div.readmore {
    font-family: "Fira Code", monospace;
  }
}
