article.project-preview {
  img {
    align-self: center;
    height: 300px;
    max-width: 100%;
  }

  div.project-info {
    margin-bottom: 20px;

    h2 {
      margin: 10px 0;
      border-bottom: solid 1px #dfe2e8;
    }

    p {
      margin: 0;
    }
  }
}
