#search {
  input {
    border-radius: 5px;
    border: solid 1px #b4b9c1;
    padding: 7px;
    font-family: "PT Serif", serif;
    font-size: 20px;
    width: 100%;
  }

  .search-info {
    color: #b4b9c1;
    margin-top: 0;
  }

  #search-result {
    .result-element {
      margin-bottom: 10px;

      p {
        margin: 0;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      &:hover {
        background-color: #f0f4fb;
      }
    }
  }
}
