header {
  justify-content: space-between;
  height: 80px;
  flex-flow: row;
  padding: 0 10px;

  & > a {
    margin: 10px 0;
    display: inherit;
  }

  nav a + a {
    margin-left: 10px;
  }

  nav svg{
    height: 24px;
    width: 24px;
    stroke: #2061aa;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: miter;
    fill: none;
    color: #2061aa;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-flow: column;
    align-items: center;
    height: min-content;

    nav {
      margin: 10px 0;
    }

    & > a {
      margin-bottom: 0;
      display: inherit;
    }
  }
}
