header{
  justify-content: space-between;
  height: 80px;

  flex-flow: row;
  gap: 10px;

  padding: 0px 10px;

  & > a{
    margin: 10px 0px;
    display: inherit;
  }
}


@media only screen and (max-width: 600px) {

  header{
    flex-flow: column;
    height: 100px;
    align-items: center;
    gap: 5px;

    & > a{
      margin-bottom: 0;
      display: inherit;
    }
  }
}
