<section class="page-heading">
  {% if include.thumbnail %}
    {% if include.url %}
    <a href="{{ include.url }}">
    {% endif %}
      <img class="page-thumbnail" src="{{ include.thumbnail }}">
    {% if include.url %}
    </a>
    {% endif %}
  {% endif %}

  {% if include.date || include.category%}
  <div class="page-metadata flex flow-row">
    <div class="metadata-element">
      <svg class="metadata-icon" id="date">
        <use xlink:href="/assets/icons/spritesheet.svg#calendar-event"></use>
      </svg>
      <span class="metadata-content">
        {{ include.date | date: "%d.%m.%Y" }}
      </span>
    </div>

    <div class="metadata-element">
      <a class="metadata-content">
        {{ include.category }}
      </a>
      <svg class="metadata-icon" id="category">
        <use xlink:href="/assets/icons/spritesheet.svg#folder"></use>
      </svg>
    </div>
  </div>
  {% endif %}

  {% if include.url %}
  <a href="{{ include.url }}">
  {% endif %}
    <h1 class="page-title">
      {{include.title}}
    </h1>
  {% if include.url %}
  </a>
  {% endif %}
  
</section>