/* normalize stuff */
* {
  margin: 0;
  padding: 0;
}
/* end normalize stuff */

:root {
  --font-serif: "Atkinson Hyperlegible Next"; /* "Lora" */
  --font-sansserif: "Alegreya Sans";
  --font-monospace: "Inconsolata";
  
  --font-text: var(--font-serif);

  --weight-text: normal;
  --font-title: "Outfit";
  --font-heading: "Alegreya Sans";
  --font-code: var(--font-monospace);
  
  --color-accent: #1464aa;

  --color-link: #1464aa;
  --color-link-hover: #aed3f3;
  --color-link-visited: #1464aa;
  
  --color-text-primary: #1b1b1b;
  --color-text-secondary: #5f5f5f;
  
  --color-background-primary: #ffffff;
  --color-background-secondary: #b8b8b8;

  --color-banner-light: #ECECEC;
  --color-banner-dark: #313131;

  --color-background-description: #eaf4ff;

  --color-dark-background: #000000;
  --color-dark-text: #f3f3f3;  
  
  --color-code-background: #daeeff;

  --color-quote: #8fe27b;

  --color-heading1: #000000;
  --color-heading2: #000000;

  --color-category-travel: #ce7501;
  --color-category-text: #ffffff;

  --color-lightdark-border: #1464aa;
  --color-lightdark-light: #d47f00;
  --color-lightdark-light-bg: #ffe7c2;
  --color-lightdark-dark: #686868;
  --color-lightdark-dark-bg: #1d1d1d;

  font-size: 18px;

  --data-title-gap: 10px;
  --reader-width: 800px;
  --reader-thumbnail-height: 500px;
  --reader-map-height: 800px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-primary);
  font-family: var(--font-text);
  color: var(--color-text-primary);
  text-rendering: optimizeLegibility;
  grid-template-rows: auto 1fr auto;
  display: grid;
  min-height: 100vh;
}


main {
  display: grid;
  grid-template-columns: 1fr var(--reader-width) 1fr;
  height: fit-content;
}

main > * {
  grid-column: 2;
}

#map {
  width: 100%;
  aspect-ratio: 5 / 3;
}

/* ----------------------------------------
  _      _       _     _     _____             _    
 | |    (_)     | |   | |   |  __ \           | |   
 | |     _  __ _| |__ | |_  | |  | | __ _ _ __| | __
 | |    | |/ _` | '_ \| __| | |  | |/ _` | '__| |/ /
 | |____| | (_| | | | | |_  | |__| | (_| | |  |   < 
 |______|_|\__, |_| |_|\__| |_____/ \__,_|_|  |_|\_\
            __/ |                                   
           |___/
sec:lightdark
---------------------------------------- */
body.dark {
  --color-accent: #50a0e6;

  --color-link: #50a0e6;
  --color-link-hover: #aed3f3;
  --color-link-visited: #50a0e6;
  
  --color-text-primary: #f7f7f7;
  --color-text-secondary: #aaaaaa;
  
  --color-background-primary: #1d1d1d;
  --color-background-secondary: #303030;

  --color-background-description: #23364b;

  --color-dark-background: #000000;
  --color-dark-text: #f3f3f3;  
  
  --color-code-background: #20272c;

  --color-quote: #8fe27b;

  --color-heading1: #ffffff;
  --color-heading2: #ffffff;

  --color-category-travel: #ce7501;
  --color-category-text: #ffffff;
}

body.dark header::before,
body.dark footer::before {
  background-color: var(--color-banner-dark);
}

body.dark img.icon {
  filter: invert(53%) sepia(89%) saturate(352%) hue-rotate(169deg) brightness(93%) contrast(93%);
}

/*
  --color-lightdark-light: #d47f00;
  --color-lightdark-light-bg: #ffd28e;
  --color-lightdark-dark: #252525;
  --color-lightdark-dark-bg: #585858;
*/

label.container{
  position: relative;

  height: 32px;
  width: 32px;
  display: block;
  cursor: pointer;
}

label.container input {
  position: absolute;
  opacity: 0;

  height: 100%;
  width: 100%;
}

label.container .checkmark {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-lightdark-light);
  background-color: var(--color-lightdark-light-bg);

}

label .checkmark:after {
  content: '';
  height: 24px;
  width: 24px;
  mask: url('/assets/icons/sun.svg') center no-repeat;
  background-color: var(--color-lightdark-light);
  padding: 4px;
  display: block;
}

label.container input:checked ~ .checkmark {
  box-shadow: inset 0px 0px 0px 1px var(--color-lightdark-dark);
  background-color: var(--color-lightdark-dark-bg);
}

label input:checked ~  .checkmark:after {
  mask: url('/assets/icons/moon.svg') center no-repeat;
  background-color: var(--color-lightdark-dark);
}


/* ----------------------------------------
  _    _                _           
 | |  | |              | |          
 | |__| | ___  __ _  __| | ___ _ __ 
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
 | |  | |  __/ (_| | (_| |  __/ |   
 |_|  |_|\___|\__,_|\__,_|\___|_|   
sec:header
---------------------------------------- */                                    

header {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5px;
}

header h1 {
  font-family: var(--font-title);
  font-weight: 600;
  text-decoration: none;
  font-size: 40px;
  margin: 0;
  line-height: 0;
  margin-bottom: 0.25em;
}

header div.header-wrapper {
  display: flex;
  align-items: center;
  width: var(--reader-width);
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

header nav {
  height: fit-content;
  width: fit-content;

  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 3px;

  border: solid 1px var(--color-background-secondary);
  border-radius: 8px;
  padding: 3px;
  background-color: var(--color-background-primary);

}

header::before, footer::before {
  position: absolute;
  content: '';
  height: 100%; width: 100%;
  mask: url("/assets/header.svg") center no-repeat;
  mask-size: cover;
  background-color: var(--color-banner-light);
  z-index: -1;
}



/* ----------------------------------------
  ______          _            
 |  ____|        | |           
 | |__ ___   ___ | |_ ___ _ __ 
 |  __/ _ \ / _ \| __/ _ \ '__|
 | | | (_) | (_) | ||  __/ |   
 |_|  \___/ \___/ \__\___|_|   
sec:footer
---------------------------------------- */                                    

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  text-align: center;
  font-size: 0.9rem;
  font-family: var(--font-sansserif);

  margin-top: 30px;
}

footer span {
  padding: 3px 4px;
  border-radius: 5px;
  background-color: var(--color-background-primary);
}

footer a {
  text-decoration: none;
}


/* ----------------------------------------
 _______        _   
|__   __|      | |  
   | | _____  _| |_ 
   | |/ _ \ \/ / __|
   | |  __/>  <| |_ 
   |_|\___/_/\_\\__|
sec:text
---------------------------------------- */

p,
blockquote,
li,
table,
input,
figcaption {
  font-family: var(--font-text);
  font-weight: var(--weight-text);
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-text-primary);
  hyphens: auto;
}

p + p {
  margin-top: 1em;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-variant-numeric: lining-nums;
  font-weight: 600;
  transition: 100ms border ease-in-out;
}

h1 {
  font-size: 2.2em;
  font-weight: bold;

  color: var(--color-heading1);
  

  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  color: var(--color-heading2);
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

h2,
h3,
h4 {
  margin-top: 0.75em;
  margin-bottom: 10px;
}

h1:target,
h2:target,
h3:target,
h4:target {
  padding-left: 30px;
  position: relative;
  text-decoration: underline wavy var(--color-accent) 2px;
}

h1:target::before,
h2:target::before,
h3:target::before,
h4:target::before {
  border-color: var(--color-accent);
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: "";
  display: block;
  left: 5px;
  
  position: absolute;

  height: 10px;
  width: 10px;

  /* These two lines vertically centre the point of the arrow */
  margin-top: -5px;
  top: 50%;

  /* The arrow sprints to the left when the link is hovered */
  transition: left 0.1s;
  transform: rotate( 45deg );
}

h1:target::after,
h2:target::after,
h3:target::after,
h4:target::after {
  background: var(--color-accent);
  content: "";
  display: block;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 50%;
  width: 20px;

  /* We need to animate the shaft too, to be able to look at a moving arrow */
  transition: left 0.1s;
}


code, pre {
  font-family: var(--font-monospace);
}

*:not(pre) > code {
  background-color: var(--color-code-background);
  padding: 2px 3px;
  border-radius: 5px;
}

pre {
  padding: 10px;
  border-radius: 7px;
  margin: 20px 0px;
  overflow-x: auto;
  scrollbar-width: thin;
}

/* ----------------------------------------
  _      _       _        
 | |    (_)     | |       
 | |     _ _ __ | | _____ 
 | |    | | '_ \| |/ / __|
 | |____| | | | |   <\__ \
 |______|_|_| |_|_|\_\___/
sec:links
---------------------------------------- */

a { 
  color: var(--color-link);
}

a:not([href]) { 
  color: white !important;
}

a:not([href]):hover {
  background-color: transparent !important;
}



a.less {
  text-decoration: none;
}

a:visited {
  color: var(--color-link-visited);
}


a.internal {
  text-decoration: none;
  line-height: 1;
  border-radius: 5pt;
}

a.internal::after {
  content: "\ea3a";
  font-family: "tabler-icons";
  position: relative;
  top: 1pt;
}



p.breadcrumbs {
  height: 24px;
  font-size: 0.9em;
  display: inline-flex;
  gap: 2px;
  padding-top: 6px;
  align-items: center;
  line-height: 1;
}

p.breadcrumbs a.breadcrumb {
  width: fit-content;
  margin: 0;
  height: 20px;
  padding: 2px 4px;
  gap: 2px;
}

p.breadcrumbs span.divider {
  font-weight: bold;
  margin-bottom: 0.1em;
  color: var(--color-text-secondary)
}

p.breadcrumbs a.breadcrumb img {
  height: 18px;
  padding: 1px;
}


a.button {

  font-family: var(--font-title);
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  flex-flow: row;
  gap: 3px;
  align-items: center;

  border: 1px solid var(--color-link);
  color: var(--color-link);
  stroke: var(--color-link);
  fill: none;

  padding: 4px;
  border-radius: 5px;

  transition: background-color 100ms ease-in-out;
  
  vertical-align: middle;

  line-height: 1;
}

a.button.less {
  border: none;
}

/*special case were navigation buttons in the header don't have a border*/
nav a.button {
  border: none;
}

main a.button {
  margin: 2px;
}

a.button:hover {
  background-color: color-mix(in srgb, var(--color-link-hover) 20%, var(--color-background-primary) 80%);
}

a.button .button-icon {
  stroke-width: 1.5pt;
  aspect-ratio: 1;
  height: 100%;
}

/* ------------------------------ Fanc Buttons ------------------------------ */
a.button.fancy {

  margin: 10px 10px;
  padding: 4px;

  border-radius: 10px;
}

a.button.fancy:hover {
  background-color: color-mix(in srgb, var(--color-link-hover) 20%, var(--color-background-primary) 80%);
}


/* ------------------------- Navbar Icons Highlight ------------------------- */
/* implements the highlighted icons in navigation bar*/
body.menu-home     a#nav-home,
body.menu-projects a#nav-projects,
body.menu-photos   a#nav-photos,
body.menu-search   a#nav-search,
body.menu-downloads   a#nav-downloads,
body.menu-cv       a#nav-cv,
body.menu-writing  a#nav-writing {
  box-shadow: inset 0px 0px 2px 2px rgba(123, 173, 225, 0.48);
}



/* --------------------------------------------------------------------------------
  _                 __ _      _   
 | |               / _| |    | |  
 | |     ___  __ _| |_| | ___| |_ 
 | |    / _ \/ _` |  _| |/ _ \ __|
 | |___|  __/ (_| | | | |  __/ |_ 
 |______\___|\__,_|_| |_|\___|\__|
sec:leaflet
-------------------------------------------------------------------------------- */

path.leaflet-interactive {
  transition: ease-in-out 200ms, ease-in-out 200ms;
  transition-property: stroke-width;
}

path.leaflet-interactive:hover {
  stroke-width: 10;
}


/* --------------------------------------------------------------------------------
 _____                            
|_   _|                           
  | |  _ __ ___   __ _  __ _  ___ 
  | | | '_ ` _ \ / _` |/ _` |/ _ \
 _| |_| | | | | | (_| | (_| |  __/
|_____|_| |_| |_|\__,_|\__, |\___|
                        __/ |     
                       |___/
sec:image
-------------------------------------------------------------------------------- */

img:not([class*="leaflet-"]) {
  max-height: 800px;
  width: auto;
  height: auto;
  max-width: 100%;

  border-radius: 6px;
  margin: 20px 0;
  justify-self: center;
}

img.full, div.dark img.full {
  aspect-ratio: auto;
  grid-column: 1 / 4;
  border-radius: 0px;
}

img.icon {
  margin: 0;

  height: 100%;
  aspect-ratio: 1;
  width: fit-content;
  filter: brightness(0) saturate(100%) invert(18%) sepia(90%) saturate(2656%) hue-rotate(195deg) brightness(100%) contrast(84%);
}

div.img-fit {
  margin: 20px 0;
  grid-column: 1 / 4;
  height: 102vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.img-fixed {
  background-attachment: fixed;
}


figure {
  margin: 20px 0px;
  border-radius: 6px;
  overflow: hidden;

  display: flex;
  flex-flow: column;

  align-self: center;
  align-items: center;
}

figure > *:first-child {
  margin: 0pt !important;
  border-radius: 0pt;
}

figure > figcaption {
  padding: 0.3rem;
  line-height: 1;
  font-size: 1rem;

  display: flex;
  gap: 3pt;

  align-items: center;
}

figure > figcaption > * {
  line-height: 1;
}

figure > figcaption::before {
  content: "\f55a";
  font-family: "tabler-icons";
  color: var(--color-accent);
}

div.thumbnail {
  grid-column: 1 / 4;
  height: var(--reader-thumbnail-height);
  background-size: cover;
  background-position: center center;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.thumbnail .title-inside {
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(39 39 39 / 60%);
  color: rgb(237 237 237 / 71%);
}

div.thumbnail .attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 7px;
  border-top-left-radius: 10px;
  background: var(--color-background-primary);
  font-size: 0.8em;
}

/* ----------------------------------------
  ____  _            _                     _       
 |  _ \| |          | |                   | |      
 | |_) | | ___   ___| | ____ _ _   _  ___ | |_ ___ 
 |  _ <| |/ _ \ / __| |/ / _` | | | |/ _ \| __/ _ \
 | |_) | | (_) | (__|   < (_| | |_| | (_) | ||  __/
 |____/|_|\___/ \___|_|\_\__, |\__,_|\___/ \__\___|
                            | |                    
                            |_|
sec:blockquote
---------------------------------------- */
blockquote {
  position: relative;
  border-left: 4px solid var(--color-quote);
  border-radius: 5px;
  padding: 5px 25px;
  margin: 20px 0;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: 0.25em;
  left: 0px;
  padding-left: 5px;
  font-size: 2em;
  color: var(--color-quote);
}

blockquote > blockquote {
  border: none;
  color: var(--color-text-secondary);
  font-style: italic;
  padding: 0 20px;
  margin: 7px 0px;
}

blockquote > blockquote::before {
  content: "~";
  font-size: 1.1em;
  font-weight: bold;
  top: 0px;
}

/* ----------------------------------------
  _      _     _   
 | |    (_)   | |  
 | |     _ ___| |_ 
 | |    | / __| __|
 | |____| \__ \ |_ 
 |______|_|___/\__|
sec:list
---------------------------------------- */
ol,
ul {
  padding-left: 30px;
  margin: 10px 0;
}

li {

  line-height: 1.4rem;
}

/* adjusts the size of the list to be the same size as ul-lists */
ol > li + li {
  margin-top: 3px;
}

li > ul, li > ol {
  margin-top: 0px;
}

li::marker {
  color: var(--color-accent);
  font-weight: normal;
}

ul.post-list li{
  display: flex;
  justify-content: space-between;
}

ul.post-list li a[data-category] {
  display: flex;
  align-items: center;
}

ul.post-list li a[data-category]::before {
  content: attr(data-category);
  font-size: 0.8rem;
  padding: 1pt 3pt;
  padding-bottom: 2pt;
  margin-right: 6pt;
  font-family: var(--font-title);
  background: var(--category-bg);
  color: var(--category-color);
  border-radius: 6pt;
  line-height: 1.2;
  font-weight: bolder;
  
}


ul.post-list li a[data-category="guide"] {
  --category-color: white;
  --category-bg: #143e8b;
}

ul.post-list li a[data-category="travel"] {
  --category-color: white;
  --category-bg: #ce7501;
}




ul.post-list li time {
  font-family: var(--font-sansserif);
}

ul.post-list.fancy{
  padding: 0 10px;
}

ul.post-list.fancy li{
  border: var(--color-accent) 1pt solid;
  padding: 0.1em 0.4em;
  border-radius: 0.5em;

  flex-flow: column;
  margin-bottom: 10px;
}

ul.post-list.fancy li > div{
  border-bottom: var(--color-text-secondary) 1pt dashed;
  padding-bottom: 0.2em;
  margin-bottom: 0.1em;
  
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 5.4em;
  padding-left: 2pt;
}

ul.post-list.fancy li > div.pinned{
  grid-template-columns: 1.4em 1fr 5.4em;
  padding-left: 0pt;
}

ul.post-list.fancy li > div img {
  width: 100%;
  height: auto;
  position: relative;
  left: -4px;
  top:2px;
  align-self: flex-start;
}

ul.post-list.fancy li > div time {
  align-self: flex-end;
  justify-self: right;
  position: relative;
  right: 2pt;
}


ul.post-list.fancy li > div > * {
  font-family: var(--font-title);
  font-size: 1.0em;
}

ul.post-list.fancy li > p{
  font-size: 0.9em;
  padding: 0.3em 0;
}


/* ----------------------------------------
  _____             _      _____                                      _     
 |  __ \           | |    |  __ \                                    | |    
 | |  | | __ _ _ __| | __ | |__) |_ _ _ __ __ _  __ _ _ __ __ _ _ __ | |__  
 | |  | |/ _` | '__| |/ / |  ___/ _` | '__/ _` |/ _` | '__/ _` | '_ \| '_ \ 
 | |__| | (_| | |  |   <  | |  | (_| | | | (_| | (_| | | | (_| | |_) | | | |
 |_____/ \__,_|_|  |_|\_\ |_|   \__,_|_|  \__,_|\__, |_|  \__,_| .__/|_| |_|
                                                 __/ |         | |          
                                                |___/          |_|          
sec:dark-paragraph
---------------------------------------- */

div.dark-transition:has(+div.dark) {
  width: 100%;
  height: 3em;
  grid-column: 1 / 4;
  
  mask-image: url("./mountain_fadein.svg");
  mask-size: contain;
  mask-repeat: repeat-x;
  
  background-color: var(--color-dark-background);

  mask-position: 33% 0px;

  bottom: -10px;
  position: relative;
  z-index: -1;
}

div.dark + div.dark-transition {
  width: 100%;
  height: 3em;
  grid-column: 1 / 4;
  mask-image: url("./mountain_fadeout.svg");
  mask-size: contain;
  mask-repeat: repeat-x;
  background-color: var(--color-dark-background);
  top: -10px;
  position: relative;
  z-index: -1;
}

div.dark {
  --color-text-primary: var(--color-dark-text);
  --color-heading1: var(--color-dark-text);
  --color-heading2: var(--color-dark-text);

  display: grid;
  grid-template-columns: 1fr var(--reader-width) 1fr;
  background-color: var(--color-dark-background);
  grid-column: 1 / 4;
  
  padding: 20px 0px;
}

div.dark *:not(pre) > code {
  background-color: transparent;
  border: dotted var(--color-code-background) 1px;
}

div.dark > *:first-child { margin-top: 0;}
div.dark > *:last-child { margin-bottom: 0;}
div.dark > * {  grid-column: 2; }

/* ----------------------------------------
   _____      _ _             _   
  / ____|    | | |           | |  
 | |     __ _| | | ___  _   _| |_ 
 | |    / _` | | |/ _ \| | | | __|
 | |___| (_| | | | (_) | |_| | |_ 
  \_____\__,_|_|_|\___/ \__,_|\__|
sec:callout
---------------------------------------- */

div.callout {
  --callout-color: hsl(218, 0%, 46%);
  --callout-color-border: hsl(218, 0%, 60%);
  --callout-icon-path: url('/assets/icons/callout/info.svg');
}

body.dark div.callout {--callout-color:        hsl(218, 0%, 60%);
                        --callout-color-border: hsl(218, 0%, 46%);}



div.callout.note {
  --callout-color: #0658E5;
  --callout-color-border: #4581EB;
  --callout-icon-path: url('/assets/icons/callout/info.svg');
}

body.dark div.callout.note {--callout-color:        #4581EB;
                            --callout-color-border: #0658E5;}

div.callout.tools {
  --callout-icon-path: url('/assets/icons/callout/tools.svg');
}


div.callout.toc {
  --callout-color: #069ee5;
  --callout-color-border: #45c4eb;
  --callout-icon-path: url('/assets/icons/callout/bookmark.svg');
}

body.dark div.callout.toc {--callout-color:        #45c4eb;
                            --callout-color-border: #069ee5;}


div.callout.love {
  --callout-color: #dc143c;
  --callout-color-border: #8b0000;
  --callout-color-icon: #dc143c;
  --callout-icon-path: url('/assets/icons/callout/hearts.svg');
}

body.dark div.callout.love {--callout-color:        #8b0000;
                            --callout-color-border: #dc143c;
                            --callout-color-icon: #dc143c;}


div.callout.wood {
  --callout-icon-path: url('/assets/icons/callout/wood.svg');
}

div.callout.important {
  --callout-color: #FC5200;
  --callout-color-border: #FD7E13;
  --callout-icon-path: url('/assets/icons/callout/bolt.svg');
}

body.dark div.callout.important {--callout-color: #FD7E13;
                                 --callout-color-border: #FC5200;}

div.callout.tip {
  --callout-color: #00A046;
  --callout-color-border: #01B874;
  --callout-icon-path: url('/assets/icons/callout/lightbulb.svg');
}

body.dark div.callout.tip {--callout-color: #01B874;
                           --callout-color-border: #00A046;}


div.callout.warning {
  --callout-color: #EB9113;
  --callout-color-border: #F0AD4D;
  --callout-icon-path: url('/assets/icons/callout/danger.svg');
}

body.dark div.callout.warning {--callout-color: #F0AD4D;
                               --callout-color-border: #EB9113;}

div.callout.caution {
  --callout-color: #CC1913;
  --callout-color-border: #D8524E;
  --callout-icon-path: url('/assets/icons/callout/error.svg');
}

body.dark  div.callout.caution {--callout-color: #D8524E;
                                --callout-color-border: #CC1913;}

div.callout {
  margin: 8px 0px;
  --callout-radius: 5px;
  border-radius: var(--callout-radius);
  border: solid var(--callout-color-border) 1pt;
  border-left-width: var(--callout-radius);
  background-color: var(--callout-color-border);
  overflow: hidden;
}

div.callout > * {
  padding: 7px;
}

div.callout div.callout-title {
  background-color: color-mix(in oklab, var(--callout-color) 20%, var(--color-background-primary));
  border-top-left-radius: var(--callout-radius);

  display: flex;
  gap: 6px;

  font-weight: bold;
  line-height: 1;
  font-size: 1.2rem;
}

div.callout div.callout-content > *:first-child{
  margin-top: 0pt;
}

div.callout div.callout-content > *:last-child{
  margin-bottom: 0pt;
}

div.callout div.callout-title::before {
  background-color: var(--callout-color-icon,--callout-color);
  aspect-ratio: 1;
  content: '';
  height: 1.3rem;
  mask-image: var(--callout-icon-path);
  mask-size: cover;
  mask-repeat: no-repeat;
}

div.callout div.callout-content {
  background-color: var(--color-background-primary); 
  border-bottom-left-radius: var(--callout-radius); 
}

section#title-block {
  margin-bottom: 20px;
  
  font-family: var(--font-sansserif);
}

time.date {
  font-size: 1.2em;
  color: var(--color-text-secondary);
}

#title-block div.description {
  font-family: inherit;
  background-color: var(--color-background-description);
  padding: 10px;
  margin-top: 20px;

  border-bottom-style: dotted;
  border-bottom-color: var(--color-accent);
  border-image-source: url('/assets/border.svg');
  border-image-slice: 33.33% 33.33%;
  border-image-repeat: round;
  border-width: 4pt;
}


/* ----------------------------------------
  ____                     
 |  _ \                    
 | |_) | _____  _____  ___ 
 |  _ < / _ \ \/ / _ \/ __|
 | |_) | (_) >  <  __/\__ \
 |____/ \___/_/\_\___||___/
sec:boxes
---------------------------------------- */
div.box-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

div.box-collection.vertical{
  flex-flow: column;
  align-items: center;
}

div.box{
  width: 250px;
  padding: 10px;
  border: solid 1px var(--color-background-secondary);
  transition: border 250ms ease-in-out;
}

div.box:hover{
  border: solid 1px var(--color-link-hover);
}

div.box .box-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;

  
  border-bottom: var(--color-text-secondary) 1pt dashed;
}

div.box .box-date {
  font-size: 0.9em;
  font-style: italic;
  color: var(--color-background-secondary);
}

div.box .box-desc {
  font-size: 0.9em;
}



div.box .box-img{
  margin-bottom: 5px;
}

div.box .box-img img{
  margin: 0;
}

div.box .box-title + .box-links {
  margin-top: 15px;
  text-align: center;
}

div.box .box-links {
  padding-top: 10px;
}

div.box .box-links a{
  text-decoration: none;
  font-family: var(--font-title);
  font-size: 1rem;
}

div.box .box-links a.button {
  border-style: dotted;
}

/* ----------------------------------------
  _  __     _            
 | |/ /    | |           
 | ' / __ _| |_ _____  __
 |  < / _` | __/ _ \ \/ /
 | . \ (_| | ||  __/>  < 
 |_|\_\__,_|\__\___/_/\_\
sec:katex
---------------------------------------- */

span.katex {
  font-size: 1.1em;
}

/*
  __  __ _          
 |  \/  (_)         
 | \  / |_ ___  ___ 
 | |\/| | / __|/ __|
 | |  | | \__ \ (__ 
 |_|  |_|_|___/\___|
sec:misc
*/

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

#back-to-top {
  background-color: var(--color-background-primary);
}

input {
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-sansserif);
  font-size: 1.4rem;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  border: 1pt solid var(--color-background-secondary);
  border-left: 3pt solid var(--color-accent);
  outline: none;
}

/* ----------------------------------------
   _______      __
  / ____\ \    / /
 | |     \ \  / / 
 | |      \ \/ /  
 | |____   \  /   
  \_____|   \/    
sec:cv
---------------------------------------- */

body.menu-cv *:not(h1,h2,h3){
  font-family: var(--font-monospace);
}

body.menu-cv h2::after {
  background-image: linear-gradient(to right, var(--color-accent) 30%, rgba(0, 0, 0, 0) 70%);
  width: 100%;
  height: 1px;
  content: "";
  display: block;
}


body.menu-cv header {
  height: 48px;
  margin-bottom: 10px;
}

body.menu-cv header nav a:not(:nth-child(1)) {
  display: none;
}

body.menu-cv header > h1 {
  display: none;
} 


.experience.incomplete > div  {
  background-image: linear-gradient(to right, red 30%, rgba(0, 0, 0, 0) 70%);
}


body.menu-cv{
  
  font-size: 16px;
  --reader-width: 700px;
}



#resume-header-block {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 200px;
}

.resume-header h1 {
  margin: 0;
}

.resume-image {
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px -1px 35px -10px rgba(0,0,0,0.5)
}

.experience {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.experience > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience .exp-duration,
.experience .exp-company {
  line-height: 1.1em;
  font-size: 1.3em;

}
.experience .exp-company{
  font-weight: bold;
}


.experience .exp-profession {
  margin-bottom: 5px;
}

.experience .exp-description {
  color: var(--color-text-secondary);
  line-height: 1.2em;
}

hr {
  margin: 10px 0px;
}

#post-tags span, #post-categories span {
  display: inline;
  margin: 3px 0px;
  font-size: 0.9rem;
}

#post-tags a,
#post-categories a {
  font-size: 0.9em;
  padding: 2px 4px;
  margin: 2px 0px;
  height: fit-content;
}


/* ----------------------------------------
   _____                     _     
  / ____|                   | |    
 | (___   ___  __ _ _ __ ___| |__  
  \___ \ / _ \/ _` | '__/ __| '_ \ 
  ____) |  __/ (_| | | | (__| | | |
 |_____/ \___|\__,_|_|  \___|_| |_| 
sec:search
---------------------------------------- */

.search-results-items {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  padding: 0;
  position: relative;
  padding-top: 2em;
}

.search-results-items::after {
  display: flex;
  content: "Search Results";
  
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0pt;
  padding: 0px 10px;
  background-color: var(--color-background-primary);
}

.search-results-items::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0.5em;
  border-bottom: dotted 4pt var(--color-background-secondary);
}

.search-results-items li a{
  display: flex;
  flex-flow: column;
  text-decoration: none;
  border: dashed var(--color-background-secondary) 2pt;
  border-radius: 4pt;
  padding-left: 6pt;
}

.search-results-items a span:nth-child(1){
  font-family: var(--font-title );
  font-size: 1.1rem;
  font-weight: 500;
}

.search-results-items a span:nth-child(2){
  color: var(--color-text-secondary);
}