<div class="box">
  {% if image %}
  <div class="box-img">
    <img src="{{ image }}">
  </div>
  {% endif %}
  {% if link %}
  <a href="{{ link }}">
  {% endif %}
  <h4 class="box-title">
    {{ title }}
  </h4>
  {% if link %}
  </a>
  {% endif %}
  <p class="box-desc">
    {{ body | markdown(inline=true) | safe }}
  </p>
  <div class="box-links">
    {% if link1 %}
    <a class="button" href="{{ link1 }}"><span>{{ desc1 | markdown(inline=true) | safe }}</span></a>
    {% endif %}
    {% if link2 %}
    <span>/</span>
    <a class="button" href="{{ link2 }}"><span>{{ desc2 | markdown(inline=true) | safe }}</span></a>
    {% endif %}
  </div>
</div>