{%- if page.extra.leaflet -%}
<div>
  <div id="map"></div>
  <script>
    // prepare custom marker
    var iconDefault = L.icon({iconUrl: '/assets/leaflet/marker_default.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var iconSleep = L.icon({iconUrl: '/assets/leaflet/marker_sleep.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var iconShop = L.icon({iconUrl: '/assets/leaflet/marker_shop.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var iconWarning = L.icon({iconUrl: '/assets/leaflet/marker_warn.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var iconForbid = L.icon({iconUrl: '/assets/leaflet/marker_forbidden.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var iconStart = L.icon({iconUrl: '/assets/leaflet/marker_start.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var iconStop = L.icon({iconUrl: '/assets/leaflet/marker_stop.svg', iconSize: [33, 45], iconAnchor: [16.5, 45],popupAnchor: [0, -47]});
    var map = L.map('map', {
      fullscreenControl: true,
      fullscreenControlOptions: {
        position: 'topleft'
      }
    });
    //L.tileLayer('https://tile.openstreetmap.de/{z}/{x}/{y}.png', {
    L.tileLayer('https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=c1361ae43a0f4e989709a01d869dd504', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
{%- if page.extra.leaflet_gpx_file -%}
    var url = '{{ page.extra.leaflet_gpx_file | safe }}'; // URL to your GPX file or the GPX itself
    var gpx = new L.GPX(url, {
      async: true,
      wptIcons: {
      '': iconDefault,
      'Sleep': '/assets/leaflet/marker_sleep.svg',
      'Camp': '/assets/leaflet/marker_sleep.svg',
      'Hotel': '/assets/leaflet/marker_sleep.svg'
    },
    marker_options: {
    iconSize: [28, 28],
    iconAnchor: [16.5, 16.5],
  },
      markers: {
        startIcon: '/assets/leaflet/point_start.svg',
        endIcon: '/assets/leaflet/point_stop.svg',
        pointMatchers: [
        {
          regex: /camp|hotel|sleep|hostel|guesthouse/i,
          icon: iconSleep
        },{
          regex: /shop|groceries|store|supermarket/i,
          icon: iconShop
        },{
          regex: /./,
          icon: iconDefault
        },
      ]
      }
    }).on('loaded', function (e) {
      map.fitBounds(e.target.getBounds());
    }).addTo(map);
{%- endif %}

{%- if page.extra.leaflet_nodes %}
// Adding some markers
{%- for node in page.extra.leaflet_nodes %}
    var marker = L.marker({{ node.coordinates }}).addTo(map);
    marker.setIcon({{ node.icon | default(value="iconDefault")}});
    {%- if node.description %}
    marker.bindPopup("{{ node.description | markdown(inline=true) | safe }}").openPopup();
    {%- endif %}
    {%- if node.focus %}
    map.setView(marker._latlng, 13);
    {%- endif %}
  {%- endfor %}
{%- endif %}
L.control.scale().addTo(map); // adds a scale
  </script>
</div>
{%- endif %}