/* [NORMALIZE] ============================================================== */

* {
  margin: 0;
  padding: 0;
}

/* [CONFIG] ================================================================= */
:root {
  font-size: 18px;

  --img_max_height: 500px;

  /* Colors */
  --bg-1: #ffffff; /* main background color */
  --bg-2: #b6b6b6; /* secondary background for more focused content*/
  --tx-1: #313131; /* standard text color */
  --tx-2: #555555; /* secondary  */
  --lk-tx: #5285b3; /* link text */
  --lk-1: #216dac; /* link hover */
  --cd-1: #333333; /* code foreground */
  --cd-2: #d1d1d1; /* code background */
  --cd-br: #333333; /* code block border */
  --tx-tag: #92ceff; /* background color for tag labels */
  --tx-cat: #a8a8a8; /* background color for category labels */
  --quote: var(--tx-tag);
  --highlight: #3f7db8;
  --mark: #facc14;

  --search-post-bg: #facc14;
  --search-post-br: #b69204;

  --search-page-bg: #92ceff;
  --search-page-br: #588bb6;

  --font-text: "Overpass", "Roboto", sans-serif;
  --font-heading: "Outfit";
  --font-code: "Fira Code", monospace;

  --wrapper: 800px;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-1);
}

/* [STYLE] ================================================================== */

/* [TYPOGRAPHY] ------------------------------------------------------------- */
/* This section handles everything text stuff (except for code blocks)        */

p,
a,
blockquote,
li,
table,
footer,
figcaption {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}

p {
  margin: 10px 0;
}

/* [HEADINGS] --------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  transition: 100ms border ease-in-out;
}

h2,
h3,
h4 {
  margin-top: 0.75em;
  margin-bottom: 10px;
}

h1:target,
h2:target,
h3:target,
h4:target {
  border-left: solid 4px var(--highlight);
  border-right: solid 4px var(--highlight);
  padding-left: 5px;
  border-radius: 5px;
  background-color: #b2d2ee;
}

h1 {
  font-size: 2.2rem;
}

h1:not(.site-title){
  margin-bottom: 20px;
}

h1.site-title {
  display: flex;
  gap: 10px;
  flex-flow: row;
}

h2 {
  font-size: 1.8rem;
}

h2.post-title{
  line-height: 1.0;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
}

body {
  max-width: var(--wrapper);
  padding: 20px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  color: var(--tx-1);
  background-color: var(--bg-1);
}

section.post-collection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

img {
  width: 100%;
}

/* [HYPERLINKS] ------------------------------------------------------------- */
a {
  color: var(--lk-tx);
  stroke: var(--lk-tx);
  fill: none;

  transition: 200ms color ease-in-out, 200ms stroke ease-in-out,
    200ms background-color ease-in-out;
}

a[href=""]::after {
  content: "no link";
  color: var(--bg-2);
  font-weight: bold;
  padding-left: 5px;
  font-size: 0.8rem;
}

a:hover {
  color: var(--lk-1);
  stroke: var(--lk-1);
}

a.obnoxious {
  padding: 6px 8px;
  border: 1px var(--lk-tx) solid;
  transition: 100ms background-color ease-in-out;
  color: var(--tx-1);
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  line-height: 2.3;
  white-space: nowrap; /* disables word wrap for links*/
}

a.obnoxious:hover {
  background-color: var(--lk-tx);
}

/* [HEADER] ======================================================== */
/* the alternative hyperlinks use a rather opaque color (instead of black it'll
   use a gray color                                                           */

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

a.alt {
  color: var(--tx-2);
  stroke: var(--tx-2);
  fill: none;
}

a.alt:hover {
  color: var(--tx-1);
  stroke: var(--tx-1);
}

nav.menu {
  display: flex;
  align-items: center;
  gap: 3px;
}

nav.menu a {
  stroke-width: 2pt;
  height: 1.3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 3px;

  padding: 4px;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: 500;
}

nav.menu a svg {
  height: inherit;
  width: 1.3rem;
  stroke-width: 1.3pt;
}

nav.menu a {
  text-decoration: none;
}

nav.menu a:hover {
  background: var(--bg-2);
}

/* [FOOTER] ================================================================= */

footer {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 40px;
}

/* [FIGURE] ================================================================= */
figure {
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin: 40px 20px;
  overflow: hidden;
}

figure figcaption {
  padding: 10px;
  border-top: solid 1px var(--bg-2);
  font-size: 0.9rem;
}

/* [BLOCKQUOTE] ============================================================= */
blockquote {
  position: relative;
  border-left: 4px solid var(--quote);
  border-radius: 5px;
  padding-left: 25px;
  margin: 20px 0;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: 0.25em;
  left: 0px;
  padding-left: 5px;
  font-size: 2rem;
  color: var(--quote);
}

blockquote > blockquote {
  border: none;
  color: var(--tx-2);
  font-style: italic;
  padding-left: 20px;
  margin: 0px;
}

blockquote > blockquote::before {
  content: "\2013";
  font-size: 1rem;
  font-weight: bold;
  top: 0px;
  left: 0px;
}

/* [LIST] =================================================================== */
li > ol,
li > ul {
  margin: 0;
}
ol,
ul {
  padding-left: 30px;
  margin: 10px 0;
}

li::marker {
  color: var(--lk-tx);
  font-weight: bold;
}

/* [CODE,KEYBOARD] ========================================================== */
code,
kbd {
  font-family: var(--font-code);
}

/* [SPECIAL] ================================================================ */

div:target h4 {
  border-left: solid 4px var(--highlight);
  border-right: solid 4px var(--highlight);
  padding-left: 5px;
  border-radius: 5px;
  background-color: #b2d2ee;
}

/* [TAGS & CATEGORY] ======================================================== */
.post-tags,
.post-category {
  position: relative;
  padding: 3px;
  border-radius: 5px;
}

.post-tags::before {
  content: "Tags";
  font-weight: bold;
}

.post-category::before {
  content: "Category";
  font-weight: bold;
}

/* [SPECIAL NUT CASES] ====================================================== */
div.post-thumbnail {
  width: 100%;
  padding-bottom: 50%;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center; /* optional, center the image */
}

/* [POST STUFF PREVIEW] ===================================================== */
a.post-preview {
  text-decoration: none;
}

a.post-preview:hover h2 {
  text-decoration: underline var(--lk-1);
}

.post-date {
  color: var(--tx-2);
}

.post-excerpt,
.post-title {
  color: var(--tx-1);
}

/* [MOBILE] ================================================================= */
@media (max-width: 510px) {
  :root {
    font-size: 16px;
  }

  h1.site-title {
    gap: 0;
    flex-flow: column;
    line-height: 0.8;
    font-size: 30px;
  }
}

div.content.search {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input#search {
  border-radius: 5px;
  border: 1px solid var(--bg-2);
  padding: 5px;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: normal;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

ul#results {
  display: flex;
  flex-flow: column;
  text-align: center;
  gap: 10px;
  list-style: none;
}

ul#results li.post::after,
ul#results li.page::after {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 0.8rem;
  border: 1px solid;
  border-radius: 5px;
  font-variant: small-caps;
  padding: 0px 3px;
  margin-left: 5px;
}

ul#results li.post::after {
  content: "post";
  background-color: var(--search-post-bg);
  border-color: var(--search-post-br);
}

ul#results li.page::after {
  content: "page";
  background-color: var(--search-page-bg);
  border-color: var(--search-page-br);
}

div.box-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

div.box-collection.vertical{
  flex-flow: column;
  align-items: center;
}

div.box{
  width: 250px;
  padding: 10px;
  border: solid 1px var(--bg-2);
  transition: border 250ms ease-in-out;
}

div.box:hover{
  border: solid 1px var(--lk-tx);
}

div.box .box-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}

div.box .box-desc, div.box .box-links a{
  font-size: 0.9rem;
  text-decoration: none;
}

div.box .box-img{
  margin-bottom: 0.75rem;
}

div.box .box-title + .box-links {
  margin-top: 15px;
  text-align: center;
}

div.title {
  margin-bottom: 20px;
}

div.title.filled {
  display: flex;
  align-items: center;
}

div.title.filled h1{
  background-clip: text;
  background-size: cover;
  color: transparent;
  font-size: min(17vw,9rem);
  background-position: center;
  margin: 0 auto;
  -webkit-text-stroke: 3px transparent;
}
