/* [NORMALIZE] ============================================================== */

* {
  margin: 0;
  padding: 0;
}

/* [CONFIG] ================================================================= */
:root {
  font-size: 18px;

  --img_max_height: 500px;

  /* Colors */
  --bg-1: #ffffff; /* main background color */
  --bg-2: #b6b6b6; /* secondary background for more focused content*/
  --tx-1: #000000; /* standard text color */
  --tx-2: #555555; /* secondary  */
  --lk-tx: #5285b3; /* link text */
  --lk-1: #216dac; /* link hover */
  --cd-1: #333333; /* code foreground */
  --cd-2: #d1d1d1; /* code background */
  --cd-br: #333333; /* code block border */
  
  --tx-tag: #8fe27b; /* background color for tag labels */
  --tx-tag-hover: #c1e4b8;
  --tx-cat: #f1ac5c; /* background color for category labels */
  --tx-cat-hover: #ecd1b3;

  --quote: var(--tx-tag);
  --highlight: #3f7db8;
  --mark: #facc14;

  --search-post-bg: #facc14;
  --search-post-br: #b69204;

  --search-page-bg: #92ceff;
  --search-page-br: #588bb6;

  --font-text: "Overpass", "Roboto", sans-serif;
  --font-heading: "Outfit";
  --font-code: "Fira Code", monospace;

  --wrapper: 800px;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-1);
}

div.site-title {
  display: flex;
  gap: 10px;
  flex-flow: row;
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 2.2rem;
}

/* [STYLE] ================================================================== */

/* [TYPOGRAPHY] ------------------------------------------------------------- */
/* This section handles everything text stuff (except for code blocks)        */

p,
a,
blockquote,
li,
table,
footer,
figcaption {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}

p {
  margin: 10px 0;
}

p.font-bigger {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

p.font-big {
  font-size: 1.6rem;
  line-height: 1.7rem;
}

p.bold {
  font-weight: 700;
}

/* [HEADINGS] --------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  transition: 100ms border ease-in-out;
}

h2,
h3,
h4 {
  margin-top: 0.75em;
  margin-bottom: 10px;
}

h1:target,
h2:target,
h3:target,
h4:target {
  padding-left: 30px;
  position: relative;
  text-decoration: underline wavy var(--highlight) 2px;
}

h1:target::before,
h2:target::before,
h3:target::before,
h4:target::before {
  border-color: var(--highlight);
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: "";
  display: block;
  left: 5px;
  
  position: absolute;

  height: 10px;
  width: 10px;

  /* These two lines vertically centre the point of the arrow */
  margin-top: -5px;
  top: 50%;

  /* The arrow sprints to the left when the link is hovered */
  transition: left 0.1s;

  transform: rotate( 45deg );
}

h1:target::after,
h2:target::after,
h3:target::after,
h4:target::after {
  background: var(--highlight);
  content: "";
  display: block;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 50%;
  width: 20px;

  /* We need to animate the shaft too, to be able to look at a moving arrow */
  transition: left 0.1s;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
}

body {
  /*padding: 20px;*/
  text-rendering: optimizeLegibility;
  color: var(--tx-1);
  background-color: var(--bg-1);

  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

div.header-background {
  grid-row: 1;
  grid-column: 1 / span 3;
  background-image: url("/assets/header/header.svg");
  background-size: cover;
  background-position-y: 50%;
  padding: 40px;
}

@media (max-width: calc(800px + 40px)) {
  body > header,
  body > footer,
  body > main {
    margin-right: 20px;
    margin-left: 20px;
  }

  body {
    color: var(--tx-1);
    background-color: var(--bg-1);
    grid-template-columns: 0 100% 0;
  }
}

main {
  grid-column: 2;
  grid-row: 2;
  margin-top: 40px;
}

img {
  width: 100%;
}

img.rounded{
  border-radius: 10px;
}

/* [HYPERLINKS] ------------------------------------------------------------- */
a {
  color: var(--lk-tx);
  stroke: var(--lk-tx);
  fill: none;

  transition: 200ms color ease-in-out, 200ms stroke ease-in-out,
    200ms background-color ease-in-out;
}

a:hover {
  color: var(--lk-1);
  stroke: var(--lk-1);
}

a.obnoxious {
  padding: 6px 8px;
  border: 1px var(--lk-tx) solid;
  transition: 100ms background-color ease-in-out;
  color: var(--tx-1);
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  line-height: 2.3;
  white-space: nowrap; /* disables word wrap for links*/
}

a.obnoxious:hover {
  background-color: var(--lk-tx);
}

/* [HEADER] ======================================================== */
/* the alternative hyperlinks use a rather opaque color (instead of black it'll
   use a gray color                                                           */

header {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

nav.menu {
  display: flex;
  align-items: center;
  gap: 3px;
}

nav.menu a {
  stroke-width: 2pt;
  height: 1.3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 3px;

  padding: 4px;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: 500;

  color: var(--tx-2);
  stroke: var(--tx-2);
  fill: none;
}

nav.menu a svg {
  height: inherit;
  width: 1.3rem;
  stroke-width: 1.3pt;
}

nav.menu a {
  text-decoration: none;
}

nav.menu a:hover {
  background: var(--bg-2);
  color: var(--tx-1);
  stroke: var(--tx-1);
}

/* [FOOTER] ================================================================= */

footer {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 40px;
  margin-bottom: 20px;
  grid-column: 2;
  grid-row: 3;
}

/* [FIGURE] ================================================================= */
figure {
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin: 40px 20px;
  overflow: hidden;
}

figure figcaption {
  padding: 0 10px;
  font-size: 0.9rem;
  border-left: 2px solid var(--highlight);
  border-bottom-left-radius: 5px;
}

/* [BLOCKQUOTE] ============================================================= */
blockquote {
  position: relative;
  border-left: 4px solid var(--quote);
  border-radius: 5px;
  padding: 5px 25px;
  margin: 20px 0;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: 0.25em;
  left: 0px;
  padding-left: 5px;
  font-size: 2rem;
  color: var(--quote);
}

blockquote > blockquote {
  border: none;
  color: var(--tx-2);
  font-style: italic;
  padding: 0 20px;
  margin: 7px 0px;
}

blockquote > blockquote::before {
  content: "~";
  font-size: 1.1rem;
  font-weight: bold;
  top: 0px;
}

/* [LIST] =================================================================== */
li > ol,
li > ul {
  margin: 0;
}

ol,
ul {
  padding-left: 30px;
  margin: 10px 0;
}

/* adjusts the size of the list to be the same size as ul-lists */
ol > li + li {
  margin-top: 3px;
}

li::marker {
  color: var(--lk-tx);
  font-weight: normal;
}

/* [CODE,KEYBOARD] ========================================================== */
code,
kbd {
  font-family: var(--font-code);
  font-size: 0.9rem;
}

/* [TAGS & CATEGORY] ======================================================== */
.metadata {
  position: relative;
  padding: 3px;
  border-radius: 5px;
  margin-top: 0;
}

.metadata a {
  font-size: 0.8rem;
  padding: 1px 3px;
  border-radius: 5px;
  font-weight: normal;
}

.metadata .tags a {
  border: 1px solid var(--tx-tag);
}

.metadata .tags a:hover {
  background-color: var(--tx-tag-hover);
}

.metadata .category a {
  border: 1px solid var(--tx-cat);
}

.metadata .category a:hover {
  background-color: var(--tx-cat-hover);
}

/* [SPECIAL NUT CASES] ====================================================== */
div.post-thumbnail {
  width: 100%;
  padding-bottom: 50%;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center; /* optional, center the image */
}

/* [POST STUFF PREVIEW] ===================================================== */
.post-header .date {
  font-style: italic;
  color: var(--tx-2);
  margin: 0;
}

/* [MOBILE] ================================================================= */
@media (max-width: 550px) {
  :root {
    font-size: 16px;
  }

  div.site-title {
    gap: 0;
    flex-flow: column;
    line-height: 0.8;
    font-size: 30px;
  }
}


/* [SEARCH] ---------------------------- */
div.content.search {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input#search {
  border-radius: 5px;
  border: 1px solid var(--bg-2);
  padding: 5px;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: normal;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

div#results {
  display: flex;
  flex-flow: column;
  text-align: left;
  gap: 10px;
  width: 80%;
}

div#results div.list-block-element h4{
  font-weight: normal;
  color: var(--tx-1);
}

div#results div.list-block-element p.date{
  font-weight: bold;
  color: var(--tx-1);
}

div#results div.list-block-element.page{
  border: var(--search-page-br) 1px solid;
}

div#results div.list-block-element.page p.date{
  background-color: var(--search-page-bg);
  border-left: var(--search-page-br) 1px solid;
}


div#results div.list-block-element.post{
  border: var(--search-post-br) 1px solid;
}

div#results div.list-block-element.post p.date{
  background-color: var(--search-post-bg);
  border-left: var(--search-post-br) 1px solid;
}

div#results div.list-block-element.none{
  border: var(--bg-2) 1px solid;
}

div#results div.list-block-element.none p.date{
  border-left: var(--bg-2) 1px solid;
}


/* [BOX] ------------------------------- */
div.box-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

div.box-collection.vertical{
  flex-flow: column;
  align-items: center;
}

div.box{
  width: 250px;
  padding: 10px;
  border: solid 1px var(--bg-2);
  transition: border 250ms ease-in-out;
}

div.box:hover{
  border: solid 1px var(--lk-tx);
}

div.box .box-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}

div.box .box-date {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--tx-2);
}

div.box .box-desc, div.box .box-links a{
  font-size: 0.9rem;
  text-decoration: none;
}

div.box .box-img{
  margin-bottom: 0.75rem;
}

div.box .box-title + .box-links {
  margin-top: 15px;
  text-align: center;
}

/* [TITLE FILLING] --------------------- */
div.title {
  margin-bottom: 20px;
}

div.title.filled {
  display: flex;
  align-items: center;
}

div.title.filled h1{
  background-clip: text;
  background-size: cover;
  color: transparent;
  font-size: min(17vw,9rem);
  background-position: center;
  margin: 0 auto;
  -webkit-text-stroke: 3px transparent;
}

/* [LIST BLOCK COLLECITON] ------------- */
div.list-block-collection {
  display: flex;
  flex-flow: column;
  
  gap: 5px;
  margin-bottom: 15px;
}

div.list-block-collection > h2 { /* Title */
  margin: 0;
  font-size: 1.1rem;
}

div.list-block-element {
  border: solid 1px var(--bg-2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  gap: 5px;
}

div.list-block-element *{
  margin: 0;
  text-decoration: none;
}

div.list-block-element > *{
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}


div.list-block-element .date { 
  font-size: 0.9rem;
  color: var(--tx-2);
  font-family: var(--font-code);
}
