:root {
  font-size: 18px;

  /* Colors */
  --bg-1: #ffffff; /* main background color */
  --bg-2: #b6b6b6; /* secondary background for more focused content*/
  --tx-1: #313131; /* standard text color */
  --tx-2: #555555; /* secondary  */
  --lk-tx: #1d6db8; /* link text */
  --lk-1: #134778; /* link hover */
  --cd-1: #333333; /* code foreground */
  --cd-2: #d1d1d1; /* code background */
  --cd-br: #333333; /* code block border */
  --tx-tag: #92ceff; /* background color for tag labels */
  --tx-cat: #a8a8a8; /* background color for category labels */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

@media (max-width: 684px) {
  :root {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #272727;
    --bg-2: #333333;
    --tx-1: #acacac;
    --tx-2: #707070;
    --lk-tx: #5285b3;
    --lk-1: #216dac;
    --cd-1: #b8b8b8;
    --cd-2: #3b3b3b;
    --cd-br: #b8b8b8;
    --tx-tag: #5b72b6;
    --tx-cat: #5a5e70;
  }
}

/* || Typography */

html {
  font-family: var(--font-sans);
}

/* || General Styles */
body {
  counter-reset: figure-counter;

  max-width: 800px;
  padding: 0 20px;
  margin: 20px auto;
  text-rendering: optimizeLegibility;
  color: var(--tx-1);
  background-color: var(--bg-1);
}

@media (prefers-color-scheme: dark) {
  body {
  }
}

hr {
  max-width: 80%;
  border: 1px solid var(--bg-2);
}

p,
blockquote,
li,
table {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.06em;
}

li::marker {
  font-weight: bold;
  color: var(--lk-tx);
}

p.date {
  color: var(--tx-2);
  margin-top: 0;
}

/* || Headings */
h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  font-weight: bold;
}

h1 {
  font-size: 2.3rem;
}
h1::first-letter {
  color: var(--lk-tx);
}
.post h1 {
  margin-bottom: 0;
  text-decoration: none;
}

h2 {
  font-size: 1.85rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.15rem;
}

@media (max-width: 684px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  summary {
    font-size: 1.15rem;
  }
}

blockquote {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 3px solid var(--lk-tx);
}

blockquote p {
  color: var(--tx-2);
}

/* || Hyperlinks */
a,
a svg {
  color: var(--lk-tx);
  transition: 200ms color ease-in-out, 200ms stroke ease-in-out;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--tx-2);
}

nav a.active,
nav a.active svg {
  color: var(--bg-2);
  stroke: var(--bg-2);
}

.icon {
  display: flex;
}

.icon svg {
  fill: transparent;
  stroke-linejoin: miter;
  stroke-width: 2px;
  height: 1.2rem;
  justify-self: center;
  align-self: center;
}
span.icon svg {
  stroke: var(--bg-2);
}
a.icon svg {
  stroke: var(--lk-tx);
}
a.icon svg:hover {
  stroke: var(--lk-1);
}

.post-info a {
  text-decoration: none;
}

.post-title a {
  text-decoration: none;
}

/* for better aesthetics :) */
.post-title:hover a {
  color: var(--tx-1);
}

a.site-link {
  text-decoration: none;
  color: var(--tx-1);
}

/* -> Hyperlink Special Cases */
a:hover {
  color: var(--lk-1);
}

nav a:hover {
  text-decoration: underline;
  color: var(--tx-2);
}

/* || Coding */

code,
kbd,
samp {
  font-family: var(--font-mono);
  background-color: var(--cd-2);
  color: var(--cd-1);

  padding: 2px 3px;
  margin: 0px 2px;
  border-radius: 4px;
  line-height: 1em;
  font-size: 0.9em;
}

div.highlight {
  margin: 10px 0px;
}

div.highlight pre {
  padding: 5px;

  border: 1px solid var(--cd-br);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  overflow-x: scroll;
  width: 95%;
  margin: 0 auto;
}

div.highlight code {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

div.highlighter-rouge pre {
  margin: 0;
  padding: 5px;
}

/* || Special Styles */
.site-title {
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  font-weight: bold;
}

.post-info .post-labels ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.post-info .post-labels {
  margin-bottom: 7px;
}

.post-info .post-labels a {
  padding: 0 4px;
  margin: 2px 3px;
  border-radius: 5px;
  text-decoration: none;
}

.post-tags {
  background-color: var(--tx-tag);
}

.post-category {
  background-color: var(--tx-cat);
}

.post-labels a {
  color: var(--bg-1);
}

.post-info > div {
  display: flex;
}

.post-info code,
.post-info span {
  background-color: transparent;
  color: var(--tx-2);
  font-size: 1rem;
  min-width: 100px;
}

@media (max-width: 684px) {
  .post-info code {
    min-width: 85px;
  }
}

/* -> Archive */
.archive .archive-list li {
  line-height: 1.5rem;
}

/* || Header and Main Navigation (sitewide) */
nav.site-navigation {
  display: flex;
}

nav.site-navigation > * {
  margin-right: 10px;
}

.task-list {
  list-style: none;
  padding-left: 15px;
}

input.task-list-item-checkbox {
  margin-right: 10px;
}

/* || Search Page || */
input.search-in {
  background-color: var(--bg-2);
  color: var(--tx-1);
  border-radius: 5px;
  border: none;
  padding: 10px;
}

/* Results Template */
div.search-out article {
  background-color: var(--bg-2);
  border-radius: 5px;
  margin-bottom: 15px;
  transition: 200ms filter ease-in-out;
}

div.search-out article:hover {
  filter: brightness(110%);
}

div.search-out article a {
  padding: 10px;
  display: block;
  text-decoration: none;
}

div.search-out article h3 {
  margin: 0 0 10px 0;
  color: var(--tx-1);
  line-height: 1;
}

div.search-out article p {
  margin: 0;
  text-decoration: underline;
}

/* || Figure & Image || */
figure {
  margin: 40px 20px;
  display: grid;
  justify-content: center;
}

figure figcaption {
  counter-increment: figure-counter;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 5px;
}

figure figcaption::before {
  font-style: normal;
  color: var(--lk-tx);
  content: "Fig " counter(figure-counter) ":";
}

img {
  box-shadow: 5px 5px 0px 0px var(--bg-2);
  border: var(--bg-2) 1px solid;
  max-width: 100%;
}

img.thumbnail {
  margin-top: 20px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}

img.thumbnail + h1 {
  margin-top: 10px;
}

details {
  margin-bottom: 5px;
}

summary {
  cursor: pointer;
  font-size: 1.4rem;
}

summary::marker {
  padding-right: 10px;
  content: "→";
  font-weight: bold;
  color: var(--lk-tx);
}

details[open] summary::marker {
  content: "↓";
}

details ul {
  margin-top: 5px;
}

details[open] ul {
  animation: fadeIn 100ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: translateX(-50px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

/* add animation here */
