html {
  scroll-behavior: smooth;
}

/* [COLORS] ------------------------------------------------------------------*/
:root {
  font-size: 18px;

  /* Colors */
  --bg-1: #ffffff; /* main background color */
  --bg-2: #b6b6b6; /* secondary background for more focused content*/
  --tx-1: #313131; /* standard text color */
  --tx-2: #555555; /* secondary  */
  --lk-tx: #1d6db8; /* link text */
  --lk-1: #134778; /* link hover */
  --cd-1: #333333; /* code foreground */
  --cd-2: #d1d1d1; /* code background */
  --cd-br: #333333; /* code block border */
  --tx-tag: #92ceff; /* background color for tag labels */
  --tx-cat: #a8a8a8; /* background color for category labels */
  --highlight: #3f7db8;
  --mark: #FACC14;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #272727;
    --bg-2: #333333;
    --tx-1: #acacac;
    --tx-2: #707070;
    --lk-tx: #5285b3;
    --lk-1: #216dac;
    --cd-1: #b8b8b8;
    --cd-2: #3b3b3b;
    --cd-br: #b8b8b8;
    --tx-tag: #5b72b6;
    --tx-cat: #5a5e70;
    --highlight: #4E657A;
    --mark: #CCB100;
  }
}

/* [TYPOGRAPHY] --------------------------------------------------------------*/
/* This section handles everything text stuff (except for code blocks)        */

p,
blockquote,
li,
table {
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.06em;
}

/* [HEADINGS] ------------------------*/
h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  padding: 2px 4px;
  left: -4px;
  position: relative;
}

h2:target,
h3:target,
h4:target {
  background-color: var(--highlight);
  border-radius: 5px;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.85rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.15rem;
}


h1::first-letter {
  color: var(--lk-tx);
}


a.site-title{
  text-decoration: none;

}

a.site-title h1::first-letter {
  color: inherit;
}

a.site-title h1 {
  margin: 0;
}

:root {
  font-family: "Inter", sans-serif; /* FALLBACK IE 11 */
  font-family: var(--font-sans);
}

/* [HYPERLINKS] ----------------------*/
/* This group defines the very basic hyperlink stuff (i.e. how SVG inside links
   should behave)                                                             */

/* !!! no font adjustments, only style*/
a {
  /* Text */
  color: #1d6db8; /* FALLBACK IE */
  color: var(--lk-tx);

  /* SVG */
  /* SVG links will always use stroke-only -> be creative due to limitations */
  stroke: #1d6db8; /* FALLBACK IE */
  stroke: var(--lk-tx);
  fill: none;

  transition: 200ms color ease-in-out, 200ms stroke ease-in-out;
}

a:hover {
  color: #134778; /* FALLBACK IE */
  color: var(--lk-1);
  stroke: #134778; /* FALLBACK IE */
  stroke: var(--lk-1);
}

/* the alternative hyperlinks use a rather opaque color (instead of black it'll
   use a gray color                                                           */
a.alt {
  /* Text */
  color: #555555; /* FALLBACK IE */
  color: var(--tx-2);

  /* SVG */
  stroke: #555555; /* FALLBACK IE */
  stroke: var(--tx-2);
  fill: none;
}

a.alt:hover {
  color: #313131; /* FALLBACK IE */
  color: var(--tx-1);
  stroke: #313131; /* FALLBACK IE */
  stroke: var(--tx-1);
}

a.external::before,
a.internal::before {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  top: 1px;
  position: relative;
  margin-right: 0.1rem;
}

a.internal::before {
  content: url("/assets/icon/internal_source.svg");
}

a.external::before {
  content: url("/assets/icon/external_source.svg");
}
/* [MEDIA QUERIES] -------------------*/

/* This media query adjusts the typography to be more readable on mobile
   devices */
@media (max-width: 684px) {
  /* this small adjustment the overall font-size, as all the other font-size 
     settings are based around 'rem' (root em) -> it reduces the overall font
     size.                                                                    */
  :root {
    font-size: 16px;
  }
  
  /* ! FIX */
  /*.icon {
    width: 1.1rem;
    height: 1.1rem;
  }*/


  footer {
    font-size: 0.8rem; /* FALLBACK IE */
  }
  
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  summary {
    font-size: 1.15rem;
  }
}

/* [CODE BLOCKS] -------------------------------------------------------------*/



/* [MISC] --------------------------------------------------------------------*/


mark {
  background-color: var(--mark);
  padding: 0px 3px;
  border-radius: 3px;
  margin: 0px 2px;
}

body {
  counter-reset: figure-counter;

  max-width: 800px;
  padding: 0 20px;
  margin: 20px auto;
  text-rendering: optimizeLegibility;
  color: var(--tx-1);
  background-color: var(--bg-1);
}


hr {
  width: 80%;
  border: 1px solid var(--bg-2);
}



li::marker {
  font-weight: bold;
  color: var(--lk-tx);
}

p.date {
  color: var(--tx-2);
  margin-top: 0;
}


blockquote {
  margin-left: 10px;
  padding-left: 10px;

  border-left: 3px solid var(--lk-tx);
  border-left: 3px solid var(--lk-tx);
}

blockquote p {
  color: var(--tx-2);
}

/* [ELEMENTS - HYPERLINKS] ---------------------------------------------------*/

code,
kbd,
samp,
.metadata-key,
.metadata-value {
  font-family: "Fira Code", Consolas, monospace; /* FALLBACK IE 11 */
  font-family: var(--font-mono);

  background-color: var(--cd-2);
  color: var(--cd-1);

  padding: 2px 3px;
  margin: 0px 2px;
  border-radius: 4px;
  line-height: 1em;
  font-size: 0.9em;
}

/* [POST METADATA] -----------------------------------------------------------*/

.post-metadata {
  display: flex;
  flex-flow: column;
  
}

.post-metadata + .post-metadata {
  margin-left: 5px;
}

.metadata {
  display: flex;
  flex-flow: row;
  align-content: center;
}

.metadata-key {
  color: var(--tx-2);
  min-width: 100px;

  align-self: center;
}

.metadata-value {
  display: flex;
  flex-wrap: wrap;
}

.metadata-key,
.metadata-value {
  background-color: transparent;
}

.metadata-value a.tags,
.metadata-value a.category {
  color: var(--bg-1);
  padding: 2px 4px;
  margin: 2px 2px;
  border-radius: 5px;
  text-decoration: none;
}

.metadata-value a.tags {
  background-color: var(--tx-tag);
}

.metadata-value a.category {
  background-color: var(--tx-cat);
}

@media (max-width: 684px) {
  .metadata-key {
    min-width: 85px;
  }
}


/*[HEADER] -------------------------------------------------------------------*/
header {
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  align-items: center;
}

header nav {
  justify-self: right;

  line-height: 1.0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem; /* FALLBACK IE */
}

header nav a{
  text-decoration: none;
}


@media (max-width: 684px) {
  header {
    grid-auto-flow: row;
    justify-content: left;
  }

  header nav {
    font-size: 1.1rem; /* FALLBACK IE */
  }
}

.icon {
  stroke-width: 1pt;
  height: 1.3rem; /* FALLBACK IE */
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 3px;

  padding: 4px;
  border-radius: 5px;

  font-size: 1.0rem;
  font-weight: 500;
}

/* SVG need special care, when fitting them into */
.icon svg {
  height: inherit;
  width: 1.3rem;
  stroke-width: 1.2pt;
}

.icon:hover {
  background: var(--bg-2);
}

/* [FOOTER] ------------------------------------------------------------------*/

footer {
  display: grid;
  justify-content: center;
  gap: 10px;

  max-width: 440px;
  margin: 0 auto;
  margin-top: 20px;

  font-size: 0.9rem; /* FALLBACK IE */
  text-align: center;
}

footer nav {
  line-height: 1.0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

footer a {
  text-decoration: none;
}

footer .copyright {
  color: var(--tx-cat);
}

/* [SEARCH] ----------------------------------------------------------------- */


input.search-in {
  background-color: var(--bg-2);
  color: var(--tx-1);
  border-radius: 5px;
  border: none;
  padding: 10px;
}

/* Results Template */
div.search-out article {
  background-color: var(--bg-2);
  border-radius: 5px;
  margin-bottom: 15px;
  transition: 200ms filter ease-in-out;
}

div.search-out article:hover {
  filter: brightness(110%);
}

div.search-out article a {
  padding: 10px;
  display: block;
  text-decoration: none;
}

div.search-out article h3 {
  margin: 0 0 10px 0;
  color: var(--tx-1);
  line-height: 1;
}

div.search-out article p {
  margin: 0;
  text-decoration: underline;
}

/* [IMAGES & FIGURES] ------------------------------------------------------------------- */


figure {
  margin: 40px 20px;
  display: grid;
  justify-content: center;
}

figure img {
  border-radius: 5px;
}

figure figcaption {
  counter-increment: figure-counter;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 5px;
}

figure figcaption::before {
  font-style: normal;
  color: var(--lk-tx);
  content: "Fig " counter(figure-counter) ":";
}

img {
  max-width: 100%;
}

img.thumbnail {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

img.thumbnail + h1 {
  margin-top: 10px;
}

/* [TAG & CATEGORY STUFF] ======================================================= */
div.entry {
  overflow: hidden;
  padding: 2px 5px;
  margin: 5px 0;
}


div.entry:target{
  background-color: var(--bg-2);
  border-radius: 5px;
}

div.entry .entry-summary {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4rem;
}

div.entry .entry-detail {
  display: none;
  margin: 5px;
}

div.entry:target .entry-detail {
  display: block;
}


div.entry.open .entry-detail {
  display: block;
}

div.entry:target > a {
  color: var(--lk-tx);
}

div.entry li + li{
  margin-top: 7px;
}

span.green {
  color: #379420;
  font-weight: bold;
}

span.red {
  color: #F23049;
  font-weight: bold;
}

span.blue {
  color: #4e71e4;
  font-weight: bold;
}

span.black {
  color: #020202;
  font-weight: bold;
}

span.grey {
  color: #9E9E9E;
  font-weight: bold;
}
/* [PHOTO COLLECTIONS] ======================================================= */
.photoset-row {
  display: flex;
  flex-flow: row;
  gap: 10px;
}
.photoset {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.photoset img {
  width: inherit;
  height: inherit;
}
