.callout {
  margin: 0;
  padding: 0;
  border: solid 1px rgb(var(--callout-color));
  transition: border-bottom ease-in-out 10ms;
}

/* disable margin for text */
.callout .callout-content * {
  margin: 0;
}

.callout-title {
  padding: 10px;
  border-radius: var(--callout-radius);
  border-bottom: solid 1px rgb(var(--callout-color));
}

.callout-content {
  font-weight: normal;
  padding: 10px;
  background-color: var(--background-primary);
}

.callout.is-collapsed .callout-title{
  border-bottom: transparent;
}