/* [INTERACTIVE EDITOR] =========================================== */
body {
  /* [FONTS & STYLES] */
  --h1-font: "Poppins";
  --h2-font: "Poppins";
  --h3-font: "Poppins";

  --h1-weight: 700;
  --h3-weight: 400;

  --h2-size: 1.5em;
  
  --my-color: #2779bd; /*#cd2355*/
  --h1-color: var(--my-color);
  --h2-color: #343434;
  --h3-color: #343434;
}

/* [HEADER 1] */
.cm-s-obsidian .HyperMD-header.HyperMD-header-1 {
  width: max-content;
  padding-bottom: 20px;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-1 > span{
  border-bottom: var(--my-color) 2px solid;
}

/* [HEADER 2] */
.cm-s-obsidian .HyperMD-header.HyperMD-header-2 {
  width: max-content;
  padding: 10px 0;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-2 > span{
  border-bottom: var(--my-color) 2px dotted;
}

/* [HEADER 3] */
.cm-s-obsidian .HyperMD-header.HyperMD-header-3 {
  padding-top: 10px;
  padding-bottom: 5px;
}
