
.cm-s-obsidian .HyperMD-list-line.HyperMD-list-line-1 > span.cm-formatting-list-ol{
  font-weight: bold;
  color: var(--my-color);
}
.cm-s-obsidian .HyperMD-list-line.HyperMD-list-line-1{
  padding-bottom: 3px;
  padding-top: 10px;
  border-bottom: 2px solid var(--background-secondary);
}

.cm-formatting.cm-list-2 {
  font-weight: bold;
}

.markdown-source-view.mod-cm6 .cm-content > .cm-line.HyperMD-list-line {
  margin-left: 0;
}
