.block-language-toc::before {
  content: "TOC";
  position: absolute;
  font-weight: bold;
  font-style: italic;
  right:8px;
  top:3px;
  border-radius: 5px;
  opacity: 50%;
}

.block-language-toc{
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  padding: 10px;

  border: 2px dotted var(--background-secondary);
}

.block-language-toc a.internal-link{
  text-decoration: none;
  font-size: var(--font-text-size);
}

.block-language-toc > ul:first-child {
  margin: 0 !important;
  padding-left: 20px;
}

.block-language-toc ul {
  margin: 0;
  padding-left: 10px;
}

.block-language-toc li {
  list-style-type: '◈';
  padding-left: 10px;
}
