<div>
    <div id="map"></div>
    <script>
        // prepare custom marker
        var bounds = null;
        var iconDefault = L.icon({ iconUrl: '/assets/leaflet/marker_default.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });
        var iconSleep = L.icon({ iconUrl: '/assets/leaflet/marker_sleep.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });
        var iconShop = L.icon({ iconUrl: '/assets/leaflet/marker_shop.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });
        var iconWarning = L.icon({ iconUrl: '/assets/leaflet/marker_warn.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });
        var iconForbid = L.icon({ iconUrl: '/assets/leaflet/marker_forbidden.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });
        var iconStart = L.icon({ iconUrl: '/assets/leaflet/marker_start.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });
        var iconStop = L.icon({ iconUrl: '/assets/leaflet/marker_stop.svg', iconSize: [33, 45], iconAnchor: [16.5, 45], popupAnchor: [0, -47] });

        var randomColors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'];
        var colorIndexer = 0;

        var map = L.map('map', {
            fullscreenControl: true,
            fullscreenControlOptions: {
                position: 'topleft'
            }
        });
        //L.tileLayer('https://tile.openstreetmap.de/{z}/{x}/{y}.png', {
        L.tileLayer('https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=c1361ae43a0f4e989709a01d869dd504', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        var gpxFiles = [
    {%- for post in section.pages -%}
        {%- if post.extra.leaflet_gpx_file -%}
        { gpx: '{{ post.path | replace(from=section.path, to="./") |safe }}{{ post.extra.leaflet_gpx_file | safe }}', url: '{{ post.path | replace(from=section.path, to="./") |safe }}', popup: '<b>{{ post.title }}</b><br><a href="{{post.path}}">Journal Link</a>'},
        {%- endif %}
        {% endfor %}
    ]
        {%- for post in section.pages -%}
        {% if post.extra.leaflet_nodes %}
        // Adding some markers
        {% for node in post.extra.leaflet_nodes %}
        var marker = L.marker({{ node.coordinates }}).addTo(map);

        marker.setIcon({{ node.icon | default(value = "iconDefault") }});
        {% if node.description %}
        marker.bindPopup("{{ node.description | replace(from="{{url}}", to=post.path) | markdown(inline=true) | safe }}").openPopup();
        {% endif %}
        {% if loop.first %}
        map.setView(marker._latlng, 13);
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}

        gpxFiles.forEach(function (gpxFile) {
            var gpx = new L.GPX(gpxFile.gpx, {
                async: true,
                gpx_options: {
                    joinTrackSegments: true
                },
                polyline_options: {
                    color: randomColors[colorIndexer],
                    opacity: 0.75,
                    weight: 6,
                    lineCap: 'round'
                },
                marker_options: {
                    iconSize: [24, 24],
                    iconAnchor: [12, 12],
                },
                markers: {
                    startIcon: '/assets/leaflet/point_start.svg',
                    endIcon: '/assets/leaflet/point_stop.svg',
                }
            }).on('loaded', function (e) {
                var layerBounds = e.target.getBounds();
                if (bounds === null) {
                    bounds = layerBounds;
                } else {
                    bounds.extend(layerBounds);
                }
                map.fitBounds(bounds);
            }).on('addline', function(e) {
                
            }).addTo(map);

            gpx.on('loaded', function(e) {
                var gpx = e.target;
                // Register popup on click
				gpx.getLayers()[0].bindPopup(gpxFile.popup)
                
				// Mouseover Style;
				gpx.getLayers()[0].on('mouseover', function(e) {

					gpx.getLayers()[0].bringToFront();
				});
            })
            
            colorIndexer = (colorIndexer+1) & randomColors.length;
        });

        

        
        L.control.scale().addTo(map); // adds a scale
    </script>
</div>