<link rel="preload" href="/assets/icons/aperture.svg" as="image"/>
<link rel="preload" href="/assets/icons/feather.svg" as="image"/>
<link rel="preload" href="/assets/icons/home.svg" as="image"/>
<link rel="preload" href="/assets/icons/lightbulb.svg" as="image"/>
<link rel="preload" href="/assets/icons/search.svg" as="image"/>
<link rel="preload" href="/assets/icons/sun.svg" as="image"/>
<link rel="preload" href="/assets/icons/moon.svg" as="image"/>
<link rel="preload" href="/assets/icons/download.svg" as="image"/>
<link rel="preload" href="/assets/header.svg" as="image"/>