{% set elem = [] %}
{% if page %}
{% set elem = page %}
{% else %}
{% set elem = section %}
{% endif %}

<section id="title-block">
  {% if elem.extra.titleinside %}
  {% else %}
  <h1 class="title">{{ elem.title | markdown(inline=true) | safe }}</h1>
  {% endif %}
  <div class="stats">
    {% if elem.date %}
    <time class="date" datetime="{{ elem.date }}">
      {{ elem.date | date(format="%d.%m.%Y") }}
    </time>
    <p class="readtime">{{ elem.reading_time}} min</p>
    {% endif %}
  </div>
  {% if elem.description %}
  <div class="description">
    {{ elem.description | markdown | safe }}
  </div>
  {% endif %}
</section>