{% set elem = [] %}
{% if page %}
{% set elem = page %}
{% else %}
{% set elem = section %}
{% endif %}

<div class="callout toc">
    <div class="callout-title">
      <span>Table of Contents</span>
    </div>
    <div class="callout-content">  
    {% if elem.toc %}
    <ul>
    {% for h1 in elem.toc %}
    <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
            {% for h2 in h1.children %}
            <li>
                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
</div>