p a,
footer a,
nav a,
a.metadata-content,
a.readmore {
  transition: background-color 200ms ease-in-out;
}

h1::first-letter,
a h1 {
  transition: color 200ms ease-in-out;
}

footer .social-icon,
img.profile {
  transition: transform 100ms ease-in-out;
}

.result-element {
  transition: background-color 200ms ease-in-out;
}
