/* WRAPPER
 * .wrapper defines the maximum-width, which the site is allowed to have.
 * It also includes the wrapper of the header & footer.
 */
.wrapper{
  margin: 0 auto;
}

main.wrapper{
  max-width: 800px;
  padding: 0px 10px;
  
}

header.wrapper, footer.wrapper{
  max-width: 900px;
}

/* 
 * 
 */
html{
  line-height: 1.2;
}