img{
  max-width: 100%;
  border-radius: 5px;

  &.profile{
    border-radius: 50%;

    a:hover &{
      transform: scale(1.05);
    }
  }

  #home &{
    width: 250px;
  
    align-self: center;
  }

  header &{
    width:  60px;
  }
}

