@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");

/* PARAGRAPH */
p,
li,
figcaption,
blockquote {
  line-height: 1.5em;
  font-family: "PT Serif", serif;
  font-size: 20px;
}

/* HEADINGS */
h1,
h2,
h3,
h4 {
  font-family: "Volkhov", serif;
}

// the size of Heading 1 is chosen a lot bigger than it should be, due to the first content header actually being the page header
h1 {
  font-size: 49px;
}

h2 {
  font-size: 39px;
}

h3 {
  font-size: 31px;
}

h4 {
  font-size: 25px;
}

/* HYPERLINK
 * For hyperlinks I want to go for a clean but watchable look
 */
a {
  text-decoration: none;
  outline: none;

  /* SEPARATE PARAGRAPH HYPERLINKS
   * Links that are actually texts should always have their own style.
   * A standard hyperlink should be styleless
   */
  nav & {
    font-size: 20px;
  }

  p &,
  footer &,
  nav &,
  &.readmore {
    font-family: "PT Serif", serif;
    color: #2061aa;
    font-weight: 600;
    background-color: transparent;
    padding: 0 2px;

    &:hover {
      background-color: lighten($color: #2061aa, $amount: 50);
    }
  }

  & h1,
  & h2 {
    color: black;
  }
}

/* CODE */
code {
  font-family: "Fira Code", monospace;
}

/* BLOCKQUOTE */
blockquote {
  position: relative;
  border-left: #2061aa 3px solid;
  margin: 0;
  margin-left: 10px;
  padding-left: 35px;

  p{
    margin: 0;
  }

  &::before {
    color: #2061aa;
    font-size: 60px;
    font-family: "Volkhov", serif;
    position: absolute;
    content: '“';
    left: 3px;
    top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  p,
  blockquote,
  li,
  figcaption {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 22px;
  }
}
