{% extends "base.html" %}

{% block content %}

{% include "snippets/thumbnail.html" %}
{% include "snippets/breadcrumb.html" %}
{% include "snippets/titleblock.html" %}

{% if section.extra.leaflet == true %}
{% include "snippets/leaflet-overview.html" %}
{% endif %}

{{ section.content | safe }}

{% set pinned_posts = section.pages | filter(attribute="extra.pinned", value=true) %}
{% if section.pages %}
  {% if pinned_posts %}
    <section id="pinned-journals">
      <h2>Pinned Journals</h2>
      <ul class="post-list fancy">
        {% for post in pinned_posts %}
        <li>
          <div {% if post.extra.pinned %}class="pinned" {% endif %}>
            {% if post.extra.pinned %}<img class="icon" src="/assets/icons/pinned.svg">{% endif %}
            <a class="less" href="{{ post.path }}">{{ post.title | markdown(inline=true) | safe }}</a>
            <time class="date" datetime="{{ post.date }}">{{ post.date | date(format="%d.%m.%Y") }}</time>
          </div>
          {{ post.description | markdown | safe }}
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  <section id="journals">
    <h2>Journals</h2>
    <ul class="post-list fancy">
      {% for post in section.pages %}
      <li id="{{post.title | slugify}}">
        <div{% if post.extra.pinned %}class="pinned" {% endif %}>
          {% if post.extra.pinned %}<img class="icon" src="/assets/icons/pinned.svg">{% endif %}
          <a class="less" href="{{ post.path }}">{{ post.title | markdown(inline=true) | safe }}</a>
          <time class="date" datetime="{{ post.date }}">{{ post.date | date(format="%d.%m.%Y") }}</time>
        </div>
        {{ post.description | markdown | safe }}
      </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% endblock content %}