<header>
  <section>
    <!--Logo-->

    <div class="site-title">
      <span>joel</span>
      <span>von</span>
      <span>rotz</span>
    </div>


    <!--Menu-->
    <nav id="navmenu">
      <a class="button less" id="nav-home" href="/">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>Home</title>
          <path d="M2 12L5 9.3M22 12L19 9.3M19 9.3L12 3L5 9.3M19 9.3V21H5V9.3"></path>
        </svg>
      </a>
      <a class="button less" id="nav-writing" href="{{ get_url(path='@/writing/_index.md')}}">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>Writing</title>
          <path d="M5.12634 17C5.04271 17.6571 5 18.325 5 19V21M5.12634 17C6.03384 9.86861 11.7594 4 20 4L19 8H16L17 10L15 12H11L13 14L12 16H8L5.12634 17Z"></path>
        </svg>
        <span>Writing</span>
      </a>
      <a class="button less" id="nav-projects" href="{{ get_url(path='@/projects/_index.md') }}">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>Projects</title>
          <path
            d="M16 12C15.3333333 12.6666667 15 14 15 16L15 17 9 17 9 16C9 14 8.66666667 12.6666667 8 12 5.6739597 9.6739597 5.41421356 6.10050506 7.75735931 3.75735931 10.1005051 1.41421356 13.8994949 1.41421356 16.2426407 3.75735931 18.5857864 6.10050506 18.4068484 9.59315157 16 12zM10 21L14 21">
          </path>
        </svg>
        <span>Projects</span>
      </a>
      <a class="button less" id="nav-photos" href="{{ get_url(path='@/photos.md') }}">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>Photos</title>
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z">
          </path>
          <g stroke-linecap="round">
            <path d="M3 16H14.3164"></path>
            <path d="M4.03589 6.20575L9.68257 15.9861"></path>
            <path d="M13.0359 2.20575L7.37891 12.004"></path>
            <path d="M10.9641 21.7942L16.6146 12.0074"></path>
            <path d="M19.9641 17.7942L14.3086 7.99866"></path>
            <path d="M21 7.98721H9.71844"></path>
          </g>
        </svg>
        <span>Photos</span>
      </a>
      <a class="button less" id="nav-search" href="{{ get_url(path='@/search.md') }}">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>Search</title>
          <path d="M14.4121122,14.4121122 L20,20"></path>
          <circle cx="10" cy="10" r="6"></circle>
        </svg>
      </a>
    </nav>
  </section>
</header>