{% extends "base.html" %}

{% block content %}

{% if page.extra.thumbnail %}
<div class="thumbnail" style="background-image: url('{{ page.extra.thumbnail }}'); {{ page.extra.thumbnailstyle | default(value='')}}">
</div>
{% endif %}

{% if page.extra.attribution %}
{{page.extra.attribution | markdown | safe }}
{% endif %}

{% if page.extra.breadcrumb %}
<label class="container">
  <a class="button less breadcrumb" title="{{ page.extra.breadcrumb }}" href="..">
    <img class="icon" src="/assets/icons/arrow-back-up.svg"><span>{{ page.extra.breadcrumb }}</span>
  </a>
</label>
{% endif %}


<h1 class="title">
  {{ page.title }}
</h1>
{{ page.content | safe }}
{% endblock content %}