{% extends "base.html" %}

{% block content %}


{% include "snippets/thumbnail.html" %}
{% include "snippets/breadcrumb.html" %}
{% include "snippets/titleblock.html" %}

{% if page.toc == true %}
{% include "snippets/toc.html" %}
{% endif %}

{{ page.content | markdown | safe }}

{% if page.taxonomies.tags or page.taxonomies.categories %}
<hr>

{% if page.taxonomies.tags %}
<section id="post-tags">
  <p>
    <b>Tags</b>:
    {% for tag in page.taxonomies.tags %}
    <a href="/tags/{{ tag | lower }}">{{ tag }}</a>{% if not loop.last%},{% endif %}
    {% endfor %}
  </p>
</section>
{% endif %}

{% if page.taxonomies.categories %}
<section id="post-categories">
  <p>
    <b>Categories</b>:
    {% for category in page.taxonomies.categories %}
    <a href="/categories/{{ category | lower }}">{{ category }}</a>{% if not loop.last%},{% endif %}
    {% endfor %}
  </p>
</section>
{% endif %}
{% endif %}
{% endblock content %}