{% extends "base.html" %}

{% block content %}

{% if page.extra.thumbnail %}
<div class="thumbnail" style="background-image: url('{{ page.extra.thumbnail }}'); {{ page.extra.thumbnailstyle | default(value='')}}">
</div>
{% elif page.extra.leaflet %}
{% if page.extra.leaflet_gpx_file %}
<div id="map"></div>
<script>
  var map = L.map('map', {
    fullscreenControl: true,
    fullscreenControlOptions: {
      position: 'topleft'
    }
  }).setView([51.505, -0.09], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var url = '{{ page.extra.leaflet_gpx_file | safe }}'; // URL to your GPX file or the GPX itself
  var gpx = new L.GPX(url, {
    async: true,
    markers: {
      startIcon: '/images/pin-icon-start.png',
      endIcon: '/images/pin-icon-end.png',
    }
  }).on('loaded', function(e) {
    map.fitBounds(e.target.getBounds());
  }).addTo(map);
</script>
{% endif %}
{% endif %}
<section id="title-block">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <time class="date" datetime="{{ page.date }}">
    {{ page.date | date(format="%d.%m.%Y") }}
  </time>
  {% if page.description %}
  <div class="description">
    {{ page.description | markdown | safe }}
  </div>
  {% endif %}
</section>
{{ page.content | safe }}
{% endblock content %}