---
layout: default
---
<head>
  
  <script src="/scripts/photoset.js"></script> 
  <link rel="stylesheet" href="/scripts/katex/katex.min.css" integrity="sha384-ThssJ7YtjywV52Gj4JE/1SQEDoMEckXyhkFVwaf4nDSm5OBlXeedVYjuuUd0Yua+" crossorigin="anonymous">
  <script defer src="/scripts/katex/katex.min.js" integrity="sha384-Bi8OWqMXO1ta+a4EPkZv7bYGIes7C3krGSZoTGNTAnAn5eYQc7IIXrJ/7ck1drAi" crossorigin="anonymous"></script>
  <script defer src="/scripts/katex/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
</head>
<div class="title">
  {% if page.thumbnail %}
  <img src="{{page.thumbnail}}" class="thumbnail">
  {% endif %}
  <h1>
    {{page.title}}
  </h1>
</div>
<div class="content">
  {{ page.content }}
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
        // customised options
        // • auto-render specific keys, e.g.:
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        // • rendering keys, e.g.:
        throwOnError : false
      });
  });
</script>