---
layout: default
---
<div class="title">
  <h1>
    {{page.title}}
  </h1>
</div>
<div class="photo-viewer inactive">
  <div class="vw-screen">
    <img class="vw-image">
    <div class="vw-info">
      <h2 class="vw-title">Title</h2>
      <p class="vw-desc">Description</p>
    </div>
  </div>
  <div class="vw-control">
    <span class="vw-button vw-stat">
      <svg viewBox="0 0 24 24"fill="none" stroke="white"> <title id="statsIconTitle">Stats</title> <path d="M6 7L15 7M6 12L18 12M6 17L12 17"/>
      </svg>
    </span>
    <span class="vw-button vw-prev">
      <svg viewBox="0 0 24 24" fill="none" stroke="white"> 
        <polyline points="14 18 8 12 14 6 14 6"/>
      </svg>
    </span>
    <span class="vw-button vw-close">
      <svg viewBox="0 0 24 24" fill="none" stroke="white">
        <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575"/>
      </svg>
    </span>
    <span class="vw-button vw-next">
      <svg viewBox="0 0 24 24" fill="none" stroke="white">
        <polyline points="10 6 16 12 10 18 10 18"/>
      </svg>
    </span>
    <span class="vw-button vw-dummy">
    </span>
  </div>
</div>

<div class="content">
  {{ page.content }}

  <div class="photo_collection">
    
  </div>
</div>

<style>
  .inactive {
    display: none !important;
  }

  .photo-viewer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgba(0,0,0);
    grid-template-rows: minmax(0, 1fr) 48px;
  }

  .photo-viewer .vw-screen {
    position: relative;
  }

  .photo-viewer .vw-image {
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .photo-viewer .vw-info {
    position: absolute;
    bottom: 0;
    display: grid;
    gap: 10px;
    padding: 10px 0;
    margin: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
  }

  .photo-viewer .vw-title {
    margin: 0 10px;
  }

  .photo-viewer .vw-desc {
    margin: 0 10px;
  }

  /* PHOTO VIEWER CONTROLS */
  .photo-viewer .vw-control {
    display: flex;
    gap: 10px;
    justify-self: center;
  }
  .photo-viewer span.vw-button {
    cursor: pointer;
    height: 48px;
    width: 48px;
    line-height: 1;
  }

  .photo-viewer svg{
    height: inherit;
    stroke-width: 1pt;
    fill: none;
  }

  /* GALLERY */
  body.wrapper {
    max-width: 100%;
    overflow-y: scroll;
  }
  img {
    border: none
  }

  div.photo_collection {
    width: 100%;
    position: relative;
  }

  .photo {
    text-align: center;
    position: absolute;
    overflow: hidden;
    cursor: pointer;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .photo img {
    width: 100%;
    opacity: 100%;
    filter: blur(0px);
    transition: 200ms filter ease-in-out;
  }

  .photo:hover img{
    filter: blur(3px) brightness(0.8);
  }

  .photo .photo-info {
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    margin: 0;

    opacity: 0%;

    transition: 200ms opacity ease-in-out;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  .photo:hover .photo-info {
    opacity: 100%;
  }

  .photo .photo-zoom svg{
    height: 2rem;
  }

</style>

<script type="text/javascript" src="/scripts/justified-layout/dist/justified-layout.js"></script>
<script type="text/javascript" src="/scripts/photo-viewer/photo-viewer.js"></script>
<script type="text/javascript">
  
  var justifiedLayout = require('justified-layout');
  
  async function getJSON(url_json) {
    let response = await fetch(url_json)
    let data = await response.json()
    return data
  }
  
  // [MAIN] ----------------------------
  const event_gallery_rendered = new Event("gallery_rendered")

  let photo_collection = document.querySelector("div.photo_collection")
  let photo_ratios = []
  let photo_list = []

  function generate_layout(ratios, collection_width) {
    return justifiedLayout(ratios, {
      containerPadding: 0,
      targetRowHeight: 200,
      containerWidth: collection_width
    })
  }

  function render_layout(photos, boxes) {
    let index = 0
    return photos.map(function(photo) {
      const box = boxes[index];
      index++;
      return (
        `<div style="width: ${box.width}px; height: ${box.height}px; top: ${box.top}px; left: ${box.left}px" class="photo" data-id="${photo.id}" data-title="${photo.title}" data-desc="${photo.description}" data-url="${photo.url_l}">
          <img src="${photo.url_s}" alt="${photo.title}">
          <div class="photo-info">
            <span class="photo-title">${photo.title}</span>
            <span class="photo-zoom">
              <svg viewBox="0 0 24 24" fill="none" stroke="white">
                <path d="M4,20 L9.58788778,14.4121122"/>
                <path d="M14,16 C10.6862915,16 8,13.3137085 8,10 C8,6.6862915 10.6862915,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,13.3137085 17.3137085,16 14,16 Z"/>
                <path d="M16.6666667 10L11.3333333 10M14 7.33333333L14 12.6666667"/>
              </svg>
            </span>
          </div>
        </div>`)
    }).join('\n')
  }


  function func_onload() {
    getJSON('/data/photos.json').then(data => {
      photo_list = data
      photo_ratios = photo_list.map(x => x.ratio)
      photo_collection.innerHTML = render_layout(photo_list, generate_layout(photo_ratios, photo_collection.clientWidth).boxes)

      document.dispatchEvent(event_gallery_rendered)
    })
  }

  function func_onresize() {
    //since all data is already acquired, we don't need to reacquire the data, we can just reuse the old data.
    photo_collection.innerHTML = render_layout(photo_list, generate_layout(photo_ratios, photo_collection.clientWidth).boxes)
  }

  
  
  document.addEventListener("gallery_rendered", function (event) {
    vw_photos = document.querySelectorAll("div.photo");
    var viewer = new Viewer(vw_photos)
    vw_photos.forEach(element => {
      element.addEventListener("click", function (event) {
        viewer.open(event.target.closest("div.photo").dataset.id)
      })
    })
  })
  

  // [WINDOW EVENT LISTENERS] --------------------------------------------------
  window.addEventListener("load", func_onload)
  window.addEventListener("resize", func_onresize)
</script>