---
layout: default
---

<div class="title">
  <h1>{{page.title}}</h1>
</div>
<div class="content">
  {{ page.content }}

  <div class="photo_collection"></div>
</div>
<style>
  img {
    border: none;
  }

  div.photo_collection {
    width: 100%;
  }

  .photoset-tb {
    overflow: hidden;
    filter: brightness(0.5);
  }

  .tb-inner {
    height: 400px;
    background-position: center;
    background-size: cover;
  }

  .photoset {
    text-align: center;
    color: white;
    position: relative;
  }

  .photoset .photoset-text {
    font-family: "Merriweather", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  .photoset h2 {
    font-family: "Merriweather", serif;
    margin: 0;
  }

  .photoset .ps-desc {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.5;
    font-style: italic;
  }

  .photoset .ps-count {
    font-size: 0.8rem;
  }

  .photoset a svg {
    height: 2rem;
  }

  .photoset .photoset-big-viewer {
    display: none;
  }
</style>
