---
layout: default
---
<div class="title">
  {% if page.thumbnail %}
  <img src="{{page.thumbnail}}" class="thumbnail">
  {% endif %}
  <h1>
    {{page.title}}
  </h1>
  <p class="date">{{ page.date | date: "%d.%m.%Y" }}</p>
</div>
<div class="content">
  {{ page.content }}
</div>
<hr>
<div class="post-metadata">
  <!--TAGS-->
  <div class="metadata">
    <span class="metadata-key">Tags</span>
    <span class="metadata-value">
      {% for tag in page.tags %}
      <a class="tags" href="/tags#{{tag | slugify}}">{{ tag }}</a>
      {% endfor %}
    </span>
  </div>
  <!--CATEGORY-->
  <div class="metadata">
    <span class="metadata-key">Category</span>
    <span class="metadata-value">
      <a class="category" href="/categories#{{page.category | slugify}}">{{ page.category  }}</a></li>
    </span>
  </div>
  <!--DATE-->
  <div class="metadata">
    <span class="metadata-key">Date</span>
    <span class="metadata-value">
      {{page.date | date: "%d.%m.%Y"}}
    </span>
  </div>
</div>