---
layout: default
---
<div class="title">
  <h1>
    {{page.title}}
  </h1>
  <p class="date">{{ page.date | date: "%d.%m.%Y" }}</p>
</div>
<div class="content">
  {{ page.content }}
</div>
<hr>
<div class="post-info">
  <div class="post-tags">
    <code><em>Tags</em></code>
    <ul>
      {% for tag in page.tags %}
      <li class="post-info-element"><a href="/tags#{{tag | slugify}}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="post-category">
    <code><em>Category</em></code>
    <a class="post-info-element" href="/categories#{{page.category | slugify}}">{{ page.category  }}</a>
  </div>

  <div class="post-date">
    <code><em>Date</em></code>
    <span style="margin-left: 5px;">{{page.date | date: "%d.%m.%Y"}}</span>
  </div>
</div>