---
layout: default
---
<div class="title">
  {% if page.thumbnail %}
  <img src="{{page.thumbnail}}" class="thumbnail">
  {% endif %}
  <h1>
    {{page.title}}
  </h1>
  <p class="date">{{ page.date | date: "%d.%m.%Y" }}</p>
</div>
<div class="content">
  {{ page.content }}
</div>
<hr>
<div class="post-info">
  <div class="post-labels">
    <code><em>Tags</em></code>
    <ul>
      {% for tag in page.tags %}
      <li><a class="post-tags" href="/tags#{{tag | slugify}}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="post-labels">
    <code><em>Category</em></code>
    <ul>
      <li><a class="post-category" href="/categories#{{page.category | slugify}}">{{ page.category  }}</a></li>
    </ul>
  </div>

  <div class="post-date">
    <code><em>Date</em></code>
    <span style="margin-left: 5px;">{{page.date | date: "%d.%m.%Y"}}</span>
  </div>
  <hr>
  <div class="comments">
    <script src="https://utteranc.es/client.js"
        repo="joelvonrotz/joelvonrotz.github.io"
        issue-term="pathname"
        label="comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
  </div>
</div>