---
layout: default
---
<div class="content search">
  <div class="title filled">
    <h1 style="background-image: url(/images/pages/search.jpg);">Search</h1>
  </div>
  {{ page.content }}

  <input autocomplete="off" type="search" id="search" placeholder="Search for posts & pages!" />
  <div id="results">
    <a class="search-result none"><span>^</span><span>Type something in the input bar to search</span></a>
  </div>
</div>
<script>
  const search = document.getElementById("search");
  const results = document.getElementById("results");
  let search_list = [];
  search.addEventListener('input', (event) => {
    search_term = event.target.value.toLowerCase();
    if (search_term) {
      results.innerHTML = "";
      let list_filtered = search_list.filter((item) => {
        return (JSON.stringify(item).toLowerCase().indexOf(search_term) >= 0);
      })
      console.log(list_filtered);

      if(list_filtered.length != 0) {
        console.log("In");
        list_filtered.forEach((item) => {
          results.innerHTML += `<a href="${item.url}" class="search-result ${item.type}"><span>${item.type.toUpperCase()}</span><span>${item.title}</span></a>`;
        });
      } else {
        results.innerHTML += `<a class="search-result none"><span>No results</span><span>No topic could be found</span></a>`;
      }
      
    }
    else {
      results.innerHTML = `<a class="search-result none"><span>^</span><span>Type something in the input bar to search</span></a>`;
    }
  });

  function get_json_posts() {
    fetch('/data/search.json')
      .then(response => response.json())
      .then(data => {
        search_list = data;
      });
  }

  get_json_posts();


</script>