---
layout: default
---
<div class="content search">
  <div class="title filled">
    <h1 style="background-image: url(/images/pages/search.jpg);">Search</h1>
  </div>
  {{ page.content }}

  <input autocomplete="off" type="search" id="search" placeholder="Search for posts & pages!" />
  <div id="results">
    <div class="list-block-element none"><a><h4 class="title">Type something in the input bar to search</h4></a><p class="date">↑</p></div>
  </div>
</div>

<script>
  const search = document.getElementById("search");
  const results = document.getElementById("results");
  let search_list = [];
  search.addEventListener('input', (event) => {
    search_term = event.target.value.toLowerCase();
    if (search_term) {
      results.innerHTML = "";
      let list_filtered = search_list.filter((item) => {
        return (JSON.stringify(item).toLowerCase().indexOf(search_term) >= 0);
      })

      if(list_filtered.length != 0) {
        list_filtered.forEach((item) => {
          results.innerHTML += `<div class="list-block-element ${item.type}"><a href="${item.url}"><h4 class="title">${item.title}</h4></a><p class="date">${item.type.toUpperCase()}</p></div>`;
        });
      } else {
        results.innerHTML += `<div class="list-block-element none"><a><h4 class="title">No topic could be found</h4></a><p class="date">↑</p></div>`;
      }
      
    }
    else {
      results.innerHTML = `<div class="list-block-element none"><a><h4 class="title">Type something in the input bar to search</h4></a><p class="date">↑</p></div>`;
    }
  });

  function get_json_posts() {
    fetch('/data/search.json')
      .then(response => response.json())
      .then(data => {
        search_list = data;
      });
  }

  get_json_posts();
</script>
