---
layout: default
---
{% assign sorted_tags = site.tags | sort %}

<div class="title">
  <h1>
    {{page.title}}
  </h1>
</div>
<div class="content">
  {% for tag in sorted_tags %}
  {% capture tags_html %}
  {% for post in tag[1] %}
    <li><code>{{ post.date | date: "%d.%m.%Y"}}</code> - <a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
  {% endcapture %}

  <details class="label" id="{{ tag[0] | slugify }}">
    <summary>{{ tag[0] }}</summary>
    <ul>
      {{ tags_html }}
    </ul>
  </details>

  {% endfor %}
</div>

<script>
  //open element, when tag is given via URL (hash)
  if(window.location.hash) { document.querySelector(window.location.hash).setAttribute('open','true') };
</script>