---
layout: default
---
{% assign sorted_tags = site.tags | sort %}

<div class="title">
  <h1>
    {{page.title}}
  </h1>
</div>
<div class="content">
  {% for tag in sorted_tags %}
  {% capture tags_html %}
  {% for post in tag[1] %}
    <li><code>{{ post.date | date: "%d.%m.%Y"}}</code> - <a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
  {% endcapture %}

  {% include component/collapsible.html title=tag content=tags_html %}

  {% endfor %}
</div>

<script>
  //open element, when tag is given via URL (hash)
  if(window.location.hash) { document.querySelector(window.location.hash).classList.add('open') };
  var elements = document.querySelectorAll('.cmp-collapse');
  for (let index = 0; index < elements.length; index++) {
    elements[index].querySelector('h2').addEventListener('click', function () {
      elements[index].classList.toggle('open');
    })
  }
</script>