---
layout: page
---

{% if page.title == "Tags" %}
  {% assign sorted_list = site.tags | sort %}
{% endif %}
{% if page.title == "Categories" %}
  {% assign sorted_list = site.categories | sort %}
{% endif %}
<div class="content">
  
  {% for tag in sorted_list %}
  
  {% capture tags_html %}
    {% for post in tag[1] %}
    <div class="list-block-element">
      <a href="{{ post.url }}">
        <h4 class="title">
          {{ post.title }}
        </h4>
      </a>
      <p class="date">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date |
            date: "%e.%m." }}
          </time>
      </p>
    </div>
    {% endfor %}
  {% endcapture %}
  {% assign _tag = tag[0] %}
  <div class="list-block-collection">
    <h2 id="tag{{ tag[0] }}">{{ tag[0] }}</h2>
    {{ tags_html }}
  </div>
  {% endfor %}
</div>
