.clps-element .clps-button {
  cursor: default;
  display: flex;
  margin-bottom: 5px;
}

.clps-element .clps-button::before {
  margin-right: 5px;
  transition: transform 100ms ease-in-out;
  content: "\2192";
  transform: rotateZ(0deg);
}

.clps-element.open .clps-button::before {
  transform: rotateZ(90deg);
}

.clps-element .clps-content {
  display: none;
  margin-top: 0;
}

.clps-element.open .clps-content {
  display: block;
}

.clps-element li {
  line-height: 1.5rem;
}
