.cmp-collapse h2 {
  cursor: default;
  display: flex;
  margin-bottom: 5px;
}

.cmp-collapse h2::before {
  margin-right: 5px;
  transition: transform 100ms ease-in-out;
  content: "\2192";
  transform: rotateZ(0deg);
  color: var(--font-link-color);
}

.cmp-collapse.open h2::before {
  transform: rotateZ(90deg);
}

.cmp-collapse .cmp-collapse-content {
  display: none;
  margin-top: 0;
}

.cmp-collapse.open .cmp-collapse-content {
  display: block;
}

.cmp-collapse li {
  line-height: 1.5rem;
}
